{% extends 'base_dialog.html' %}
{% load static semanticui %}

{% block title %}Reset Password{% endblock %}


{% block content %}
<div class="ui middle aligned center aligned grid">
	<div class="column" style="max-width:450px">

		<form class="ui large form" method="POST">
			{% csrf_token %}
			<div class="ui segment">
				<h2 class="ui header">Reset Password</h2>

				{% render_form form %}
				<div class="ui fluid large primary submit button">Continue</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}


{% block footerjs %}
<script src="{% static 'js/apps/password/password_reset.js' %}"></script>
{% endblock %}
