{% extends 'users/user_base.html' %}
{% load static molds semanticui %}

{% block title %}Change Password{% endblock %}

{% block breadcrumbs_active %}
<a href="{% url 'password_change' %}" class="active section">Change Password</a>
{% endblock %}


{% block content %}

	{% block message %}{% endblock %}

<div class="ui text container">
	<form class="box" method="POST">
		{% render_titlebar 'Change Password' 'key' %}
		<div class="ui bottom attached segment form">
			{% csrf_token %}
			{% render_form form %}
		</div>

		<div class="ui bottom attached buttons">
			<div class="ui primary submit button">Save</div>
			<a href="{% url 'account' %}" class="ui cancel button">Cancel</a>
		</div>
	</form>
</div>
{% endblock %}


{% block footerjs %}
<script src="{% static 'password/password_change.js' %}"></script>
{% endblock %}