{% extends 'base_dialog.html' %}
{% load static semanticui %}

{% block title %}Password Reset{% endblock %}


{% block content %}
<div class="ui middle aligned center aligned grid">
	<div class="column" style="max-width:450px">

		<form class="ui large form" method="POST">
			{% csrf_token %}
			<div class="ui segment">

				{% if validlink %}
					<h2 class="ui header">Update Password</h2>

					{% render_form form %}
					<div class="ui fluid large primary submit button">Change Password</div>
				{% else %}
					<p>
						The password reset link was invalid, possibly because it has
						already been used. Please request a new password reset.
					</p>
				{% endif %}
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block footerjs %}
<script src="{% static 'password/password_reset_confirm.js' %}"></script>
{% endblock %}
