<div class="ui top attached inverted red menu">
	<div class="icon header item"><i class="ticket icon"></i></div>
	<div class="header item">Ticket Information</div>

	<div class="right menu">
		{% if user.is_staff %}
		<a href="{% url 'admin:tickets_thread_change' object.pk %}" class="ui inverted icon item">
			<i class="shield icon"></i>
		</a>
		{% endif %}

		<div class="ui inverted item dropdown">
			<i class="heartbeat icon"></i> Set Status
			<div class="menu">
				<div class="header">Status</div>
				<div data-id="{{ object.pk }}" data-status="open" class="ui status item radio checkbox">
					<input class="hidden" tabindex="0" name="status" type="radio" {% if object.closed == False %}checked {% endif %}/>
					<label>Open</label>
				</div>
				<div data-id="{{ object.pk }}" data-status="close" class="ui status item radio checkbox">
					<input class="hidden" tabindex="0" name="status" type="radio" {% if object.closed == True %}checked {% endif %}/>
					<label>Closed</label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui bottom attached segment">
	<div class="ui divided relaxed list">
		<div class="item">
			<i class="quote left icon"></i>
			<div class="content">
				<div class="header">Subject</div>
				{{ object.subject }}
			</div>
		</div>
		<div class="item">
			<i class="sitemap icon"></i>
			<div class="content">
				<div class="header">Category</div>
				{{ object.get_category_display }}
			</div>
		</div>
		<div class="item">
			<i class="signal icon"></i>
			<div class="content">
				<div class="header">Priority</div>
				{{ object.get_priority_display }}
			</div>
		</div>
		<div class="item">
			<i class="heartbeat icon"></i>
			<div class="content">
				<div class="header">Status</div>
				{% if object.closed %}
					<span class="ui red status label">Closed</span>
				{% else %}
					<span class="ui green status label">Open</span>
				{% endif %}
			</div>
		</div>
		<div class="item">
			<i class="calendar icon"></i>
			<div class="content">
				<div class="header">Created On</div>
				{{ object.datetime }}
			</div>
		</div>
		{% if user.is_staff %}
		<div class="item">
			<i class="mouse pointer icon"></i>
			<div class="content">
				<div class="header">IP Address</div>
				{{ object.ip_address }}
			</div>
		</div>
		{% endif %}
	</div>
</div>