{% extends 'tickets/thread_base.html' %}
{% load molds static semanticui %}


{% block breadcrumbs_active %}
<strong>Ticket: </strong><a href="{% url 'tickets:detail' object.pk %}" class="active section">{{ object.subject }}</a>
{% endblock %}



{% block extramessage %}
{% if object.closed %}
<div class="ui message warning">
	<i class="close icon"></i>
	This thread is currently closed. Replying to this thread will re-open it.
</div>
{% endif %}
{% endblock %}


{% block content %}
<div class="ui grid stackable">
	<div class="eight wide column">
		<div class="ui one column grid">

			{# Thread Details #}
			<div class="column">
				<div class="box">
					{% include 'tickets/thread_detail_details.html' %}
				</div>
			</div>

			{# Create Post #}
			<div class="column">
				<form class="box" action="{% url 'tickets:detail' object.pk %}" enctype="multipart/form-data" method="POST">
					<div class="ui top attached inverted red menu">
						<div class="icon header item"><i class="write icon"></i></div>
						<div class="header item">Create Post</div>
					</div>
					<div class="ui form bottom attached segment">
						{% csrf_token %}
						{% render_field form.message placeholder='Type your message here.' %}
						{% render_field form.file style='display:none' _no_label=1 %}

						<label for="id_file" class="ui icon button">
							<i class="file icon"></i> <span>Choose File</span>
						</label>
					</div>
					<div class="ui labeled icon bottom attached basic submit button">
						<i class="plus icon"></i>
						Submit Post
					</div>
				</form>
			</div>

		</div>
	</div>

	<div class="eight wide column">
		<div class="box">
			{% render_titlebar 'Posts' 'comments' %}
			{% include 'tickets/thread_detail_posts.html' %}
		</div>
	</div>
</div>
{% endblock %}


{% block footerjs %}
<script src="{% static 'js/api.js' %}"></script>
<script>var tid="{{ object.id }}";</script>
<script src="{% static 'js/apps/tickets/thread_detail.js' %}"></script>
{% endblock %}
