{% extends 'lockers/bases/manage/manage.html' %}
{% load semanticui %}

{% block modal_edit_content %}
	{% render_field form.name %}
	{% render_field form.description %}
{% endblock %}

{% block details %}
<div class="item">
	<i class="anchor icon"></i>
	<div class="content">
		<div class="header">Locker</div>
		{% with lo=obj.locker %}
			{% if lo %}
				{{ lo.get_type }}: <a target="_blank" href="{{ lo.get_manage_url }}">{{ lo.name }}</a>
			{% else %}
				<em>Standalone</em>
			{% endif %}
			(<a href="{% url 'widgets-edit-locker' obj.code %}">Edit Locker</a>)
		{% endwith %}
	</div>
</div>
<div class="item">
	<i class="code icon"></i>
	<div class="content">
		<div class="header">Custom CSS</div>
		{{ obj.custom_css_url|default:"<em>Not Set</em>" }}
		(<a href="{% url 'widgets-edit-css' obj.code %}">Edit Custom CSS</a>)
	</div>
</div>
<div class="item">
	<i class="exchange icon"></i>
	<div class="content">
		<div class="header">HTTP Notifications</div>
		{{ obj.http_notification_url|yesno:"<em>Enabled</em>,<em>Disabled</em>"|safe }}
		(<a href="{% url 'widgets-edit-http-notifications' obj.code %}">Edit Notification URL</a>)
	</div>
</div>
{% endblock %}