{% extends 'lockers/bases/manage/overview.html' %}
{% load static %}
{% load blueprints %}


{% block modals %}
<form class="ui modal" method="POST" action="{% url 'widgets' %}">
	<i class="close icon"></i>
	<div class="header">
		Create Widget
	</div>
	<div class="content">
		<div class="ui form">
			{% csrf_token %}

			<div class="field">
				<label>Name</label>
				{{ form.name }}
			</div>

			<div class="field">
				<label>Description <small><i>Optional</i></small></label>
				{{ form.description }}
			</div>
		</div>

		<small>
			<br/>
			Widgets can be further customized after creation.
		</small>

	</div>
	<div class="actions">
		<div class="ui black deny button">
			Cancel
		</div>
		<div class="ui left labeled icon positive primary submit button">
			Create
			<i class="checkmark icon"></i>
		</div>
	</div>
</form>
{% endblock %}


{% block table %}
	{% table table 'Widgets' 'file image outline' %}
{% endblock %}


{% block create %}
<div class="box">
	<div class="ui top attached inverted red menu">
		<div class="icon header item"><i class="add square icon"></i></div>
		<div class="header item">Create</div>
	</div>
	<div class="ui bottom attached segment">
		<div class="ui left labeled icon fluid basic create button{% if table.rows|length >= MAX %} disabled{% endif %}">
			<i class="plus icon"></i>
			Create Widget
		</div>

		<br/>

		<p>You have created {{ table.rows|length }} widget(s) out of your maximum widget limit of {{ MAX }}.</p>

		<div class="ui header">Widget Lockers</div>
		<p>
			The widget locker is the most generic locker out of all the Varkus lockers.
			It is dynamic and can be used for multiple purposes than
			just a single, specific thing.
		</p>

		<p>
			More importantly, widgets are the only lockers that have the
			ability to send an HTTP Notification when a lead goes through.
		</p>
	</div>
</div>

<script src="{% static 'js/page/lockers/lists/lists.js' %}"></script>
{% endblock %}