{% extends 'base.html' %}
{% load static %}
{% load currency %}

{% block headstylebase %}
<link rel="stylesheet" type="text/css" href="{% static 'css/page/panel.css' %}" />
{% endblock %}

{% block headjsbase %}
<script type="text/javascript">var uri="{% websocket_uri %}";var hour={% now "H" %};</script>
<script type="text/javascript" src="{% static 'js/ws4redis.js' %}"></script>
{# <script type="text/javascript" src="{% static 'js/page/cp/options.js' %}"></script> #}
<script type="text/javascript" src="{% static 'js/page/cp/updater.js' %}"></script>
{% endblock %}

{% block nav %}
<nav class="ui sticky main menu">
	<a class="hamburger icon item mobile tablet only">
		<i class="content icon"></i>
	</a>

	<div class="item">
		{% block breadcrumbs %}
			<div class="ui breadcrumb">
				<div class="section">Control Panel</div>
				<i class="right chevron icon divider"></i>
				<a href="{% url 'dashboard' %}" class="active section">Dashboard</a>
			</div>
		{% endblock %}
	</div>

	<div class="right menu tablet computer only">
		{% if user.is_authenticated %}

			{# Earnings #}
			<a class="item computer only default">
				<small>Today:&nbsp;</small>
				<small class="ui primary text">
					$<span class="user earnings today">{{ user.earnings.today|currency }}</span>
				</small>
			</a>

			<a class="item computer only">
				<small>Month:&nbsp;</small>
				<small class="ui primary text">
					$<span class="user earnings month">{{ user.earnings.month|currency }}</span>
				</small>
			</a>

			<a class="icon item hover" href="{% url 'dashboard' %}" data-content="Dashboard" data-variation="inverted">
				<i class="dashboard icon link"></i>
			</a>

			<div class="ui dropdown wide icon item hover" data-content="Settings" data-variation="inverted">
				<i class="setting icon link"></i>
				<div class="menu">
					<div class="item disabled">
						{{ user.username|title }}'s Account
					</div>
					{% comment %}
					<div class="ui options item">
						<i class="options icon"></i>
						Options
					</div>
					{% endcomment %}
					<a class="item" href="{% url 'logout' %}">
						<i class="sign out icon"></i>
						Logout
					</a>
				</div>
			</div>

		{% else %}
			<a class="item" href="{% url 'contact' %}">
				<i class="chat icon"></i>
				<small>Contact</small>
			</a>

			<a class="item" href="{% url 'signup' %}">
				<i class="signup icon"></i>
				<small>Sign up</small>
			</a>

			<a class="item" href="{% url 'login' %}">
				<i class="sign in icon"></i>
				<small>Log in</small>
			</a>
		{% endif %}
	</div>
</nav>
{% endblock %}

{% block wrapper %}
	{% block options-modal %}
		{% comment %}
		<div class="ui options modal small">
			<i class="close icon"></i>
			<div class="header">
				Options
			</div>
			<div class="content">
				<div class="ui options form">
					{# Accept Messages #}
					<div class="field">
						<div class="ui toggle checkbox">
							<input id="accept-messages" type="checkbox" checked />
							<label>Accept Messages</label>
						</div>
					</div>

					{# Notification Sound #}
					<div class="field">
						<label>Notification Sound</label>
						<div class="ui action input">
							<select id="notification-sound" class="ui fluid dropdown">
								<option value="">Choose Notification Sound</option>
								<option value="none">None</option>
								<option value="bell">Bell (Default)</option>
								<option value="beep">Beep</option>
							</select>
							<button class="right attached ui icon button">
								<i class="play icon"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="actions">
				<div class="ui black deny button">
					Cancel
				</div>
				<div class="ui left labeled icon positive submit button">
					<i class="checkmark icon"></i>
					Save
				</div>
			</div>
		</div>
		{% endcomment %}
	{% endblock %}

	{% block messages %}
		{% if messages %}
			<div class="message wrapper">
				{% for message in messages %}
					<div class="ui message {% if message.tags %}{{ message.tags }}{% endif %}">
						<i class="close icon"></i>
						{{ message }}
					</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endblock %}

	{% block content %}

	{% endblock %}
{% endblock %}

{% block sidemenu %} default{% endblock %}

{% block footer %}{% endblock %}
