{% extends 'generic.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/flag.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/cp.css' %}" />
	<script type="text/javascript" src="{% static 'js/cp.js' %}"></script>
{% endblock %}

{% block messages %}
	{% if messages %}
		<div class="wrapper">
			<div class="message margin">
				{% include 'messages.html' %}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block sidemenu %} xvisible{% endblock %}
