{% extends 'base.html' %}

{% block messages %}
	{% if messages %}
	<div class="ui container grid">
		<div class="column no margin">
			{% include 'messages.html' %}
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block footer %}
<div class="ui grid container footer">
	<div class="column">
		<div class="ui divider"></div>

		<div class="ui grid">
			<div class="twelve wide column">
				<div>{% site_name %} &copy; 2014</div>
				<div class="ui horizontal list">
					<a class="item" href="{% url 'terms' %}">
						<small>Terms and Conditions</small>
					</a>
					<a class="item" href="{% url 'dmca' %}">
						<small>DMCA Policy</small>
					</a>
					<a class="item" href="{% url 'contact' %}">
						<small>Contact</small>
					</a>
					<a class="item" href="{% url 'report' %}">
						<small>Report Abuse</small>
					</a>
				</div>
			</div>

			<div class="four wide column right aligned">
				<a class="ui circular" target="_blank" href="https://twitter.com/varkus_com/">
					<i class="twitter icon"></i>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
