{% load static %}
{% load currency %}

{# {% spaceless %} #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>{% block full_title %}{% block title %}First Class Monetization Solutions{% endblock %} | {% site_name %}{% endblock %}</title>

	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,700">
	<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/visibility.min.css' %}" />
	
	{% block head0 %}{% endblock %}

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/global.js' %}"></script>

	{% block head %}{% endblock %}
</head>

<body>

	<nav class="ui fixed inverted main menu">
		<a class="title item app button mobile tablet only">
			<i class="content icon"></i>
		</a>

		<a href="{% url 'home' %}" class="logo header item">
			{% site_name %}
		</a>
		
		<div class="right menu">
			{% if user.is_authenticated %}

				{# Earnings #}
				<a class="item computer only">
					<small>Today: </small>
					<small class="ui primary text">
						${{ user.earnings.today|currency }}
					</small>
				</a>
				
				<a class="item computer only">
					<small>Month: </small>
					<small class="ui primary text">
						${{ user.earnings.month|currency }}
					</small>
				</a>
				
				<a class="item" href="{% url 'dashboard' %}">
					<i class="dashboard icon"></i>
					<small>Dashboard</small>
				</a>

				<div class="ui dropdown wide item">
					<i class="basic user icon"></i>
					<small>{{ user.username|title }}</small>
					<div class="menu">
						<a class="item" href="{% url 'user-settings' %}">
							<i class="settings icon"></i>
							Account Settings
						</a>
						<a class="item" href="{% url 'logout' %}">
							<i class="sign out icon"></i>
							Logout
						</a>
					</div>
				</div>

			{% else %}
				<a class="item" href="{% url 'contact' %}">
					<i class="chat icon"></i>
					<small>Contact</small>
				</a>

				<a class="item" href="{% url 'signup' %}">
					<i class="signup icon"></i>
					<small>Sign up</small>
				</a>

				<a class="item" href="{% url 'login' %}">
					<i class="sign in icon"></i>
					<small>Log in</small>
				</a>
			{% endif %}
		</div>
	</nav>

	<aside class="ui inverted vertical sidebar{% block sidemenu %}{% endblock %} left fixed menu">
		{% if user.is_authenticated %}
			<div class="header item mobile tablet only">{{ user.username|title }}'s Account</div>
			<span class="item mobile tablet only">
				Today:
				<span class="ui primary text">
					${{ user.earnings.today|currency }}
				</span>
			</span>

			<span class="item mobile tablet only">
				Month:
				<span class="ui primary text">
					${{ user.earnings.month|currency }}
				</span>
			</span>

			<div class="header item">Control Panel</div>
			<a class="item dashboard" href="{% url 'dashboard' %}">
				<i class="dashboard icon"></i> Dashboard
			</a>

			<a class="item leads" href="{% url 'leads' %}">
				<i class="lightning icon"></i> Leads
			</a>

			<a class="item offers" href="{% url 'offers' %}">
				<i class="tags icon"></i> Offers
			</a>

			{% comment %}
			<a class="item statistics" href="#">
				<i class="bar chart icon"></i> Statistics
			</a>
			{% endcomment %}

			<div class="header item">Lockers</div>
			<a class="item widgets" href="{% url 'widgets' %}">
				<i class="file image outline icon"></i> Widgets
			</a>

			<a class="item files" href="{% url 'files' %}">
				<i class="file icon"></i> Files
			</a>

			<a class="item links" href="{% url 'links' %}">
				<i class="linkify icon"></i> Links
			</a>

			<a class="item lists" href="{% url 'lists' %}">
				<i class="list layout icon"></i> Lists
			</a>

			<div class="header item">Support</div>
			<a class="item tickets" href="{% url 'tickets' %}">
				<i class="ticket icon"></i> Tickets
			</a>

			<a class="item billing" href="{% url 'billing' %}">
				<i class="credit card icon"></i> Billing
			</a>

			<a class="item account" href="{% url 'user-settings' %}">
				<i class="cogs icon"></i> Account Settings
			</a>

			{% if user.is_staff %}
				<div class="header item">Staff</div>

				<a class="item staff-tickets" href="{% url 'staff-tickets' %}">
					<i class="ticket icon"></i> Tickets
				</a>

				<a class="item staff" href="{% url 'staff' %}">
					<i class="shield icon"></i> Staff
				</a>
			{% endif %}

		{% else %}
			<a class="item" href="{% url 'login' %}">
				<i class="sign in icon"></i> Log in
			</a>

			<a class="item" href="{% url 'signup' %}">
				<i class="signup icon"></i> Sign up
			</a>

			<a class="item" href="{% url 'contact' %}">
				<i class="chat icon"></i> Contact
			</a>
		{% endif %}
	</aside>

	<section class="pusher">
		{% block pusher %}{% endblock %}

		{% block messages %}{% endblock %}

		{% block content %}{% endblock %}

		{% block footer %}{% endblock %}
	</div>

	<script type="text/javascript">
		document.querySelector(".item.{% block tab %}dashboard{% endblock %}").className += ' active';
	</script>
</body>
</html>
{# {% endspaceless %} #}