{% extends 'frontend.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="ui page grid">
	<div class="column">
		<h2><i class="envelope icon"></i> Password Reset Confirm</h2>

		<div class="ui segment">
			<p>
				An e-mail has been dispatched to the e-mail you have provided.
				If you do not recieve the e-mail within 5 minutes then the
				e-mail is not associated with any currently active accounts.
			</p>
			<p>
				Make sure to check your spam folder!
			</p>
		</div>
	</div>
</div>

<script src="{% static 'js/forms/password-reset.js' %}"></script>
{% endblock %}