{% extends 'frontend.html' %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="ui two column stackable container grid">
	<div class="column">
		<h2><i class="key icon"></i> Reset Password</h2>
		<form class="ui form segment" method="POST" action="{% url 'password-reset' %}">
			{% csrf_token %}

			<div class="field">
				<label>E-mail</label>
				<div class="ui icon input">
					<i class="at icon"></i>
					{{ form.email }}
				</div>
			</div>

			<div class="ui fluid primary submit button">Send Reset Link</div>
		</form>
	</div>

	<div class="column">
		<h2><i class="info icon"></i> Information</h2>

		<div class="ui segment">
			<p>A one time generated link will be generated and then e-mailed to you. If you do not receive an e-mail then that means that e-mail address is probably not associated with any registered accounts. Make sure to check your spam folder!</p>
		</div>
	</div>
</div>

<script src="{% static 'js/forms/password-reset.js' %}"></script>
{% endblock %}