{% extends "cp.html" %}
{% load static %}

{% block title %}Billing{% endblock %}

{% block tab %}billing{% endblock %}

{% block content %}
<div class="wrapper">

	<div class="ui two column grid stackable no margin">
		<div class="column">
			<div class="box">
				<div class="title">
					<i class="ticket icon"></i>
					Create Ticket
				</div>
				<div class="padded content">

				</div>
			</div>
		</div>

		<div class="column">
			<div class="box">
				<div class="title">
					<i class="list layout icon"></i>
					Tickets
				</div>
				<div class="content">

				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
