{% extends 'cp.html' %}
{% load static %}

{% block title %}Billing{% endblock %}

{% block tab %}billing{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Support</div>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'billing' %}" class="active section">Billing</a>
</div>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui two column grid stackable no margin">

		<div class="six wide column">

			<div class="ui one column grid">

				<div class="column">
					<div class="ui segment box">
						<div class="title">
							<i class="ticket icon"></i>
							Earnings
						</div>
						<div class="side padded content">
							<div class="ui divided relaxed list">
								<div class="item">
									<i class="sort numeric descending icon"></i>
									<div class="content">
										<div class="header">Minimum Payout</div>
										${{ user.profile.party.minimum_payout }}
									</div>
								</div>
								<div class="item">
									<i class="wait icon"></i>
									<div class="content">
										<div class="header">Pending Earnings</div>
										${{ user.billing.pending_earnings|default:'0.00' }}
									</div>
								</div>
								<div class="item">
									<i class="dollar icon"></i>
									<div class="content">
										<div class="header">Total Earnings</div>
										${{ user.earnings.total }}
									</div>
								</div>
								<div class="item">
									<i class="send icon"></i>
									<div class="content">
										<div class="header">Paid Earnings</div>
										${{ user.billing.paid_earnings|default:'0.00' }}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="column">
					<div class="ui segment box">
						<div class="title">
							<i class="credit card icon"></i>
							Billing Information
						</div>
						<div class="side padded content">
							<div class="ui divided relaxed list">
								{% include 'billing/information/information.html' %}
							</div>
						</div>
						<a class="ui edit button attached bottom">Modify Billing Information</a>
					</div>
				</div>

			</div>

		</div>

		<div class="ten wide column">
			<div class="ui segment box">
				<div class="title">
					<i class="list layout icon"></i>
					Invoices
				</div>
				<div class="content">
					{% include 'billing/invoices.html' %}
				</div>
			</div>
		</div>

	</div>
</div>

{% include 'billing/forms/modal.html' %}
<script type="text/javascript" src="{% static 'js/forms/billing.js' %}"></script>

{% endblock %}
