# File types
*.log
*.pot
*.pyc
*.pid
*.mmdb
.fuse*
exports

# Binary
__pycache__/
.env/

# Project Directories
private/
backups/
media/**

# Static Files
static/admin

# Migrations
migrations/

# LetsEncrypt Directories
.well-known/