# File types
*.log
*.pot
*.pyc
*.pid
*.mmdb
.fuse*
.sync-conflict*
env_type

# Binary
__pycache__/
.env/
celerybeat-schedule

# Logs
logs/

# Project Directories
private/
backups/
/project/media/
/project/static/

# Migrations
migrations/

# Docker
nginx/certs
postgres/backup
postgres/data
postgres/localdata
docker-compose.production.yml