# File types
*.log
*.pot
*.pyc
*.pid
*.mmdb
.fuse*
.sync-conflict*
exports

# Binary
__pycache__/
.env/
celerybeat-schedule

# Logs
logs/

# Project Directories
private/
backups/
media/

# Static Files
static/admin

# Migrations
migrations/

# Docker
nginx/certs/
postgres/data/
docker-compose.production.yml