{% extends 'cp.html' %}
{% load static %}
{% load currency %}

{% block title %}Leads{% endblock %}

{% block tab %}leads{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'js/comp/jquery.timeago.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pages/leads.js' %}"></script>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui stackable grid">

		<div class="four wide column">
			<div class="ui one column grid">
				<div class="column">
					{% include 'cp/leads/sections/settings.html' %}
				</div>
				<div class="column">
					{% include 'cp/leads/sections/earnings.html' %}
				</div>
			</div>
		</div>

		<div class="twelve wide column">
			{% include 'cp/leads/sections/leads.html' %}
		</div>

	</div>
</div>
{% endblock %}