.pusher, .ui.main.container {
	height: calc(100% - 5rem) !important;
}

.ui.grid {
	height: 100%;
}

.ui.huge.header {
	font-size: 8rem;
}

.ui.huge.header .sub.header {
	font-size: 2rem;
}

label {
	text-align: left;
	color: #666 !important;
	font-weight: normal !important;
}