{% extends 'lockers/bases/manage/overview.html' %}
{% load static %}
{% load blueprints %}


{% block modals %}
<form class="ui modal" method="POST" action="{% url 'links' %}">
	<i class="close icon"></i>
	<div class="header">
		Create Link
	</div>
	<div class="content">
		<div class="ui form">
			{% csrf_token %}

			<div class="field">
				<label>Name</label>
				{{ form.name }}
			</div>

			<div class="field">
				<label>Description <small><i>Optional</i></small></label>
				{{ form.description }}
			</div>

			<div class="field">
				<label>URL</label>
				{{ form.url }}
			</div>
		</div>

	</div>
	<div class="actions">
		<div class="ui black deny button">
			Cancel
		</div>
		<div class="ui left labeled icon positive primary submit button">
			Create
			<i class="checkmark icon"></i>
		</div>
	</div>
</form>
{% endblock %}


{% block table %}
	{% table table 'Links' 'linkify' %}
{% endblock %}


{% block create %}
<div class="box">
	<div class="ui top attached inverted red menu">
		<div class="icon header item"><i class="add square icon"></i></div>
		<div class="header item">Create</div>
	</div>
	<div class="ui bottom attached segment">
		<div class="ui left labeled icon fluid basic create button{% if table.rows|length >= MAX_LISTS %} disabled{% endif %}">
			<i class="plus icon"></i>
			Create Link
		</div>

		<br/>

		<p>You have created {{ table.rows|length }} link(s) out of your maximum link limit of {{ MAX }}.</p>

		<div class="ui header">Link Lockers</div>
		<p>
			The link locker is a locker created specifically to lock table.
		</p>

		<p>
			Common usage for this locker would be to lock an uncommon link,
			that you would not like others to know for free.
		</p>
	</div>
</div>

<script src="{% static 'js/page/lockers/links/links.js' %}"></script>
{% endblock %}