<div id="direct">
	<div class="field">
		<label>Account Holder</label>
		{{ form_direct.direct_account_holder }}
	</div>

	<div class="field">
		<label>Account Number</label>
		{{ form_direct.direct_account_number }}
	</div>

	<div class="field">
		<label>Routing Number</label>
		{{ form_direct.direct_routing_number }}
	</div>

	<div class="field">
		<label>Bank Name</label>
		{{ form_direct.direct_bank_name }}
	</div>

	<div class="field">
		<label>Additional Information</label>
		{{ form_direct.direct_additional }}
	</div>
</div>
