{% load billing %}

<form class="ui modal edit" method="POST" action="{% url "billing" %}">
	<i class="close icon"></i>
	<div class="header">
		Modify Billing Information
	</div>
	<div class="content">
		<div class="ui form">
			{% csrf_token %}

			<div class="field">
				<label>Payment Method</label>

				<div class="ui selection dropdown">
					{% with i=user.billing %}
						<input class="payment method" name="payment_method" value="{{ i.method }}" type="hidden">
						<i class="dropdown icon"></i>
						<div class="default text">{{ i.method|payment_method }}</div>
					{% endwith %}

					<div class="menu">
						{% for choice in payment_choices %}
							<div class="item" data-value="{{ choice }}" data-text="{{ choice|payment_method }}">
								{{ choice|payment_icon|safe }}
								{{ choice|payment_method }}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			{% include "billing/forms/paypal.html" %}
			{% include "billing/forms/check.html" %}
			{% include "billing/forms/wire.html" %}
			{% include "billing/forms/direct.html" %}
		</div>
	</div>
	<div class="actions">
		<div class="ui black button">
			Cancel
		</div>
		<div class="ui left labeled icon positive submit button">
			<i class="checkmark icon"></i>
			Save
		</div>
	</div>
</form>
