{% extends 'base-panel.html' %}
{% load static %}
{% load blueprints %}
{% load semanticui %}

{% block title %}Statistics{% endblock %}

{% block tab %}statistics{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Statistics</div>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'statistics' %}" class="active section">Overview</a>
</div>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui grid">
		{# Table #}
		<div class="thirteen wide column">
			{% table table title 'bar graph' %}
		</div>

		{# Menu #}
		<div class="three wide column">
			<div class="ui vertical accordion menu">

				<div class="item">
					<div class="header">Category</div>
					<div class="menu">
						<a class="statistics-offers item" href="{% url 'statistics-offers' %}">Offers</a>
						<a class="statistics-countries item" href="{% url 'statistics-countries' %}">Countries</a>
					</div>
				</div>

				<div class="item">
					<div class="header">Date Range</div>
					<div class="menu">
						<a class="statistics-range-today item" href="?r=today">Today</a>
						<a class="statistics-range-week item" href="?r=week">Week</a>
						<a class="statistics-range-month item" href="?r=month">Month</a>
						<a class="statistics-range-year item" href="?r=year">Year</a>
					</div>
				</div>

				<div class="item">
					<a class="statistics-range-custom title header">
						<i class="dropdown icon"></i>
						Custom Date Range
					</a>
					<div class="statistics-range-custom content">
						<form class="ui form" method="GET">
							{% render_field_date form.f _noRequired=True placeholder="Select Date" %}
							{% render_field_date form.t _noRequired=True placeholder="Select Date" %}
							<input class="ui fluid button" type="submit" value="Apply" />
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/comp/calendar.min.css' %}">
<script src="{% static 'js/comp/calendar.min.js' %}"></script>
<script>
	$("#f").calendar({ type: "date", endCalendar: $("#t") });
	$("#t").calendar({ type: "date", startCalendar: $("#f") });

	$(".ui.accordion").accordion();
	$(".statistics-{{ page|default:'month' }}").addClass("active");

	{% if date_range %}
	$(".statistics-range-{{ date_range }}").addClass("active");
	{% endif %}
</script>
{% endblock %}
