
{% extends 'lockers/generic/manage/update_base.html' %}
{% load static molds code %}


{% block breadcrumbs_active %}
<a href="{% url model_name|add:'s:detail' object.code %}" class="section">{{ object.name }}</a>
<i class="right chevron icon divider"></i>
<a href="{% url model_name|add:'s:update-embed' object.code %}" class="active section">Embed</a>
{% endblock %}

{% block headstyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css" />
{% endblock %}


{% block footerjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
{% endblock %}


{% block columns %}
<div class="eight wide column">
	<div class="box">
		{% render_titlebar 'Documentation' 'info' %}

		<div class="ui bottom attached segment">
			<h3>Embedding Your Widget</h3>
			<p>
				Embedding your Widget is very straight forward. Some knowledge of
				HTML, CSS, and Javascript would be beneficial but is not needed to
				embed a basic Widget.
			</p>

			<h3>Viral Widget Visitor URL/ID Option</h3>
			<p>
				The way viral widgets transfer the Visitor ID is through the URL
				fragment of the Visitor URL. You may want to change the Visitor URL
				to include the Visitor ID in a different way, this is possible and
				simple to do.
			</p>

			<p>
				Add a "url" attribute to the "iframe" tag. Place an "{id}" where you
				would like the Visitor ID to be placed within the URL. When doing this,
				you must also create a Javascript variable called "id_{{ object.code }}"
				(notice after "id_" is the code of the widget) with the visitor ID that
				is found within the URL.
			</p>

			<h3>Full Examples</h3>
			<ul class="ui list">
				<li><a target="_blank" href="https://codepen.io/Varkus/pen/mWpEwP">Bootstrap</a></li>
				<li><a target="_blank" href="https://codepen.io/Varkus/pen/ZevOxq">Semantic UI</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="eight wide column">
	<div class="box">
		{% render_titlebar 'Code' 'code' %}

		<div class="ui bottom attached segment">
			<h3>Embed Widget</h3>
			{% code 'html' 'widgets/examples/embed.html' code=object.code %}

			<h3>Custom URL with Visitor ID (Advanced)</h3>
			{% code 'html' 'widgets/examples/viral_url.html' code=object.code %}
		</div>
	</div>
</div>
{% endblock %}