{% extends 'lockers/generic/manage/update_base.html' %}
{% load static semanticui offers %}


{% block breadcrumbs_active %}
<a href="{% url model_name|add:'s:detail' object.code %}" class="section">{{ object.name }}</a>
<i class="right chevron icon divider"></i>
<a href="{% url model_name|add:'s:update-css' object.code %}" class="active section">CSS Styler</a>
{% endblock %}


{% block form_header %}
<div class="ui top attached inverted red menu">
	<div class="icon header item"><i class="code icon"></i></div>
	<div class="header item">CSS Styler</div>

	<div class="ui right secondary menu">
		<a class="styler item" data-tab="styler">Styler</a>
		<a class="active item" data-tab="css">CSS</a>
		<a class="item" data-tab="preview">Preview</a>
	</div>
</div>
{% endblock %}


{% block form_content %}
{# Styler #}
<div class="ui bottom attached segment tab" data-tab="styler">
	{% include 'widgets/manage/widget_update_css_styler.html' %}
</div>

{# CSS #}
<div class="ui bottom attached active tab" data-tab="css" style="margin-bottom:1px">
	<input name="content" type="hidden" style="display:none" />
	<div id="editor" style="font-size:1rem;min-height:40rem">{{ object.css|default:'' }}</div>
</div>

{# Preview #}
<div class="ui bottom attached segment preview tab" data-tab="preview">
	<link rel="stylesheet" href="{% static 'widgets/themes/base.css' %}" />
	<link rel="stylesheet" href="{% static 'widgets/tooltip.min.css' %}" />
	{% include 'lockers/widget.html' with preview=True %}
</div>
{% endblock %}


{% block information %}
<div class="ui top attached inverted red menu">
	<div class="icon header item"><i class="info icon"></i></div>
	<div class="header item">Information</div>
</div>

<div class="ui bottom attached segment">
	<div class="ui header">Custom CSS</div>
	<p>
		Using a cascading style sheet to make your widget look native to
		your website is a huge advantage. A widget that does not match your
		site makes it look like it should not be there and may deter
		your visitor from completing an offer.
	</p>

	<p>
		Your code will override the base CSS code for your widget. All defaults
		can be found in the base CSS file for widgets located
		<a href="{% static 'widgets/themes/base.css' %}" target="_blank">here</a>.
	</p>
</div>
{% endblock %}

{% block form_submit_button %}
<div class="ui left labeled icon red continue button">
	<i class="continue checkmark icon"></i><span>Save</span>
</div>
{% endblock form_submit_button %}


{% block footerjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
<script src="{% static model_name|add:'s/widget_update_css.js' %}"></script>
{% endblock %}