{% load currency %}

<div class="ui segment box">
	<div class="title">
		<i class="currency icon"></i>
		Earnings
	</div>
	<div class="content">
		<table class="ui table">
			<tbody>
				<tr>
					<td width="50%">Leads</td>
					<td width="50%">{{ obj.earnings.leads }}</td>
				</tr>
				<tr>
					<td>Today</td>
					<td>${{ obj.earnings.today|currency }}</td>
				</tr>
				<tr>
					<td>Yesterday</td>
					<td>${{ obj.earnings.yesterday|currency }}</td>
				</tr>
				<tr>
					<td>Month</td>
					<td>${{ obj.earnings.month|currency }}</td>
				</tr>
				<tr>
					<td>Year</td>
					<td>${{ obj.earnings.year|currency }}</td>
				</tr>
				<tr>
					<td>Total</td>
					<td>${{ obj.earnings.total|currency }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>