<div class="ui segment box">
	<div class="title">
		<i class="lock icon"></i>
		Locker
	</div>
	<div class="side padded content no min height">
		<div class="ui divided relaxed list">
			<div class="item">
				<i class="unlock alternate icon"></i>
				<div class="content">
					<div class="header">Times Unlocked</div>
					{{ obj.earnings.leads }}
				</div>
			</div>

			<div class="item">
				<i class="linkify icon"></i>
				<div class="content">
					<div class="header">Locker Link</div>
					<a href="{{ url }}" target="_blank">{{ url }}</a>
				</div>
			</div>

			<div class="item">
				<i class="facebook icon"></i>
				<div class="content">
					<div class="header">Share</div>
					<a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" target="_blank">Share on Facebook</a>
				</div>
			</div>

			<div class="item">
				<i class="twitter icon"></i>
				<div class="content">
					<div class="header">Tweet</div>
					<a href="http://twitter.com/home?status={{ url }}" target="_blank">Tweet this Link</a>
				</div>
			</div>
		</div>
	</div>

	<a href="{{ url }}" target="_blank" class="ui bottom attached button">
		Go to Locker
	</a>
</div>