{% extends 'base.html' %}
{% load static %}
{% load semanticui %}

{% block title %}Contact{% endblock %}

{% block pagetype %}normal{% endblock %}

{% block content %}
<div class="ui stackable grid">
	<div class="ten wide column">
		<form class="ui form segment" method="POST" action="{% url 'support:contact' %}">
			<h2 class="ui header">Contact</h2>
			{% csrf_token %}

			{% render_field form.name %}
			{% render_field form.email %}
			{% render_field form.subject %}
			{% render_field form.message %}
			{% render_field form.captcha %}

			<div class="ui fluid primary submit button">Send Message</div>
		</form>
	</div>

	<div class="six wide column">
		<div class="ui segment">
			<h2 class="ui header">Feedback</h2>
			<p>
				Using this form you can contact us. We love feedback. Tell us what you
				like about us or tell us what you think we're doing wrong! If it's a
				message that warrants a response, we will reply within a 48 hour window
				to the e-mail address you provide here. However, if it is an invalid
				e-mail address we cannot get in touch with you!
			</p>
		</div>

		<div class="ui segment">
			<h2 class="ui header">Abuse</h2>
			<p>
				Please do not use this form to report abuse of our services. Should you
				need to report something that violates our <a href="{% url 'terms' %}">Terms and Conditions</a>,
				you may report the abuse <a href="{% url 'support:report' %}">here</a>.
			</p>
		</div>
	</div>
</div>
{% endblock %}


{% block footerjs %}
<script src="{% static 'js/apps/support/contact_form.js' %}"></script>
{% endblock %}
