{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools-items %}

<li><a href="{% url 'admin:conversions_conversion_changelist' %}?{{ original.admin_filter_args }}">{% trans "Conversions" %}</a></li>
<li><a href="{% url 'admin:conversions_token_changelist' %}?{{ original.admin_filter_args }}">{% trans "Tokens" %}</a></li>

<li>
	{% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
	<a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ original.get_manage_url }}" class="viewsitelink">{% trans "Manage" %}</a></li>{% endif %}
{% if has_absolute_url %}<li><a href="{{ original.get_locker_url }}" class="viewsitelink">{% trans "Locker" %}</a></li>{% endif %}
{% endblock %}