/* Header */
.w .header {
	text-align: center;
}

.w .header:after {
	content: "Complete one of the offers below to continue";
}

/* Progress Indicator */
.w .progress.indicator {
	display: none;
	background: url(/static/img/progress.gif) no-repeat;
	background-position: center;
	height: 20px;
	margin: -10px 0 5px 0;
}

/* Continue Button */
.w .centered {
	display: block;
	text-align: center;
	padding: 1rem;
}

.w .continue {
	font-size: 1.5rem;
	font-weight: bold;
	color: #000;
}

.w .continue:hover {
	background-color: #F7F7F7;
}

/* Row */
.w .item {
	display: table;
	width: 100%;
	text-decoration: none;
	color: black;
}

.w .item:nth-child(odd) {
	background-color: #F7F7F7;
}

.w .item:hover {
	color: white;
	background-color: #F44336;
}

/* Default Properties */
.w .item .anchor,
.w .item .icon {
	display: table-cell;
	vertical-align: middle;
	padding: .75rem 1rem;
}

/* Icons */
.w .item .icon {
	font-size: 1.5rem;
	width: 4rem;
	background-color: rgba(0, 0, 0, .025);
}

/* Special Icon */
.w .item .gold.icon {
	color: gold;
}