<div class="ui segment box">
	<div class="title">
		<i class="file image outline icon"></i>
		Widget: <em>{{ obj.name }}</em>
	</div>
	<div class="side padded content">
		<div class="ui divided relaxed list">

			<div class="item">
				<i class="quote left icon"></i>
				<div class="content">
					<div class="header">Name</div>
					{{ obj.name }}
				</div>
			</div>

			<div class="item">
				<i class="ellipsis horizontal icon"></i>
				<div class="content">
					<div class="header">Description</div>
					{{ obj.description|default:'<em>Not Specified</em>' }}
				</div>
			</div>

			<div class="item">
				<i class="anchor icon"></i>
				<div class="content">
					<div class="header">Locker</div>
					{% with lo=obj.locker %}
						{% if lo %}
							{{ lo.get_type }}: <a target="_blank" href="{{ lo.get_manage_url }}">{{ lo.name }}</a>
						{% else %}
							<em>Standalone</em>
						{% endif %}
						(<a href="{% url 'widgets-edit-locker' obj.code %}">Edit Locker</a>)
					{% endwith %}
				</div>
			</div>

			<div class="item">
				<i class="resize horizontal icon"></i>
				<div class="content">
					<div class="header">Postback URL</div>
					{% if obj.postback_url|length > 0 %}
						Postback URL is set
					{% else %}
						<em>Not set</em>
					{% endif %}
					(<a href="{% url 'widgets-edit-http-notifications' obj.code %}">Edit Postback URL</a>)
				</div>
			</div>

			<div class="item">
				<i class="code icon"></i>
				<div class="content">
					<div class="header">Custom CSS</div>
					<a href="{% url 'widgets-edit-css' obj.code %}">Edit CSS</a>
				</div>
			</div>

		</div>
	</div>

	<div class="ui bottom attached edit button">Edit</div>
</div>
