{% extends 'base-dialog.html' %}
{% load static %}
{% load semanticui %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="ui middle aligned center aligned grid">
	<div class="column" style="max-width:450px">
		{% if invite_only %}
		<div class="ui message error">
			<i class="close icon"></i>
			{% site_name %} is currently closed to new registration. Your account
			will be created but it will not be activated. You will be
			notified via e-mail when your account has been activated.
		</div>
		{% endif %}

		<h2 class="ui image header">
			<div class="content">
				Sign-up for a {% site_name %} account
			</div>
		</h2>

		<form class="ui large form" method="POST" action="{% url 'signup' %}">
			{% csrf_token %}
			<div class="ui segment">
				{% render_field form.name _icon='write' %}
				{% render_field form.email _icon='at' %}
				{% render_field form.username _icon='user' %}
				{% render_field form.password1 _icon='lock' %}
				{% render_field form.password2 _icon='repeat' %}
				{% render_field form.birthday %}
				{% render_field form.agree _style='toggle' _no_required=True %}

				<div class="ui fluid large primary submit button">Continue</div>
			</div>
		</form>
	</div>
</div>

<script src="{% static 'js/apps/user/sign-up.js' %}"></script>
{% endblock %}
