{% extends 'lockers/generic/locker/lock_base.html' %}


{% block title %}Unlock {{ object.item_name|title }} from {{ object.name }}{% endblock %}
{% block locker %}list or one of its items{% endblock %}
{% block button_text %}Unlock {{ object.item_name|title }} from {{ object.name }}{% endblock %}


{% block information %}
<h3 class="ui header">
	<i class="quote left icon"></i>
	<div class="content">
		Name
		<p class="sub header">{{ object.name }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="calendar icon"></i>
	<div class="content">
		Created on
		<p class="sub header">{{ object.datetime }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="unlock icon"></i>
	<div class="content">
		{{ object.item_name|title }}s remaining
		<p class="sub header">{{ object.remaining }}</p>
	</div>
</h3>
{% endblock %}