{% load django_tables2 %}
{% load i18n %}
{% load  %}
{% load static %}

{% with table_name=table|class_name|lower|random:5 pages=table.paginator.page_range|length %}
{% spaceless %}
{% block table %}
	{% if pages > 1 %}<div class="ui {{ table_name }} pagination fluid inverted menu"></div>{% endif %}
	<div style="position:relative">
		<div class="ui {{ table_name }} inverted dimmer">
			<div class="ui small text loader">Loading</div>
		</div>
		<table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
			{% block table.thead %}
			<thead>
				<tr>
					{% for column in table.columns %}
						{% if column.orderable %}
							<th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
						{% else %}
							<th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
						{% endif %}
					{% endfor %}
				</tr>
			</thead>
			{% endblock table.thead %}

			{% block table.tbody %}
				<tbody>
					{% for row in table.page.object_list|default:table.rows %}
						{% block table.tbody.row %}
							<tr>
								{% for column, cell in row.items %}
									<td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
								{% endfor %}
							</tr>
						{% endblock table.tbody.row %}
						{% empty %}
						{% if table.empty_text %}
							{% block table.tbody.empty_text %}
								<tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
							{% endblock table.tbody.empty_text %}
						{% endif %}
					{% endfor %}
				</tbody>
			{% endblock table.tbody %}

			{% block table.tfoot %}
				<tfoot></tfoot>
			{% endblock table.tfoot %}
		</table>
	</div>
	{% if pages > 1 %}<div class="ui {{ table_name }} pagination fluid menu"></div>{% endif %}

	<script>var n="{{ table_name }}",s={{ table.page.number }},t={{ table.paginator.page_range|length }};</script>
	<script src="{% static 'js/comp/jquery.twbsPagination.min.js' %}"></script>
	<script src="{% static 'js/assist/table.js' %}"></script>
{% endblock table %}
{% endspaceless %}
{% endwith %}