{% extends 'cp.html' %}

{% load static %}
{% load cache %}
{% load country %}

{% block title %}Account Settings{% endblock %}

{% block tab %}account{% endblock %}

{% block content %}

{% include 'user/settings/forms/personal.html' with form=form_personal %}
{% include 'user/settings/forms/account.html' with form=form_account %}

<div class="wrapper">

	<div class="ui two column grid stackable no margin">

		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="privacy icon"></i>
					Personal Details
				</div>
				<div class="side padded content">
					<div class="ui divided relaxed list">
						<div class="item">
							<i class="book icon"></i>
							<div class="content">
								<label class="header">Name</label>
								{{ user.first_name }} {{ user.last_name }}
							</div>
						</div>
						<div class="item">
							<i class="birthday icon"></i>
							<div class="content">
								<label class="header">Birthday</label>
								{{ user.profile.birthday }}
							</div>
						</div>
						<div class="item">
							<i class="world icon"></i>
							<div class="content">
								<label class="header">Country</label>
								{% with country=user.profile.country %}
									{% if country|length > 1 and country != None %}
										<i class="{{ country }} flag"></i
										>{{ country|country }}
									{% else %}
										<em>Not Specified</em>
									{% endif %}
								{% endwith %}
							</div>
						</div>
						<div class="item">
							<i class="linkify icon"></i>
							<div class="content">
								<label class="header">Website</label>
								{{ user.profile.website|default:'<em>Not Specified</em>' }}
							</div>
						</div>
					</div>
				</div>

				<div class="ui bottom attached button edit personal">Modify Details</div>
			</div>
		</div>

		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="setting icon"></i>
					Account Details
				</div>
				<div class="side padded content">
					<div class="ui divided relaxed list">
						<div class="item">
							<i class="calendar icon"></i>
							<div class="content">
								<label class="header">Registration Date</label>
								{{ user.date_joined }}
							</div>
						</div>
						<div class="item">
							<i class="sign in icon"></i>
							<div class="content">
								<label class="header">Last Sign In</label>
								{{ user.last_login|timesince }} ago
							</div>
						</div>
						<div class="item">
							<i class="at icon"></i>
							<div class="content">
								<label class="header">E-mail</label>
								<a href="mailto:{{ user.email }}">{{ user.email }}</a>
							</div>
						</div>
						<div class="item">
							<i class="asterisk icon"></i>
							<div class="content">
								<label class="header">Password</label>
								<a href="{% url 'password-change' %}">Change Password</a>
							</div>
						</div>
					</div>
				</div>

				<div class="ui bottom attached button edit account">Modify Details</div>
			</div>
		</div>

		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="users icon"></i>
					Referrals
				</div>
				<div class="content">
					<table class="ui table">
						<thead>
							<tr>
								<th>Username</th>
								<th>Join Date</th>
								<th>Last Login</th>
							</tr>
						</thead>

						<tbody>
							{% cache 360 user.pk %}
								{% with referrals=user.referral_earnings.referrals %}
									{% if referrals|length < 1 %}
										<tr>
											<td colspan="4">You have not referred anyone.</td>
										</tr>
									{% else %}
										{% for referral in user.referral_earnings.referrals %}
											<tr>
												<td>{{ referral.username }}</td>
												<td>{{ referral.join_date }}</td>
												<td>{{ referral.last_login }}</td>
											</tr>
										{% endfor %}
									{% endif %}
								{% endwith %}
							{% endcache %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="help circle icon"></i>
					Referral Guide
				</div>
				<div class="side padded content">
					<div class="ui divided fluid relaxed list">
						<div class="item">
							<i class="child icon"></i>
							<div class="content">
								<label class="header">What?</label>
								Refer your friends, family, and acquaintances to
								earn {% widthratio user.profile.party.referral_cut_amount 1 100 %}%
								of their payouts for life!
							</div>
						</div>
						<div class="item">
							<i class="question icon"></i>
							<div class="content">
								<label class="header">How?</label>
								Have them sign up under your unique referral link.
							</div>
						</div>
						<div class="item">
							<i class="share alternate icon"></i>
							<div class="content">
								<label class="header">Your Referral Link</label>
								<a href="{{ full_url }}{% url 'signup-referral-short' user.pk %}">
									{{ full_url }}{% url 'signup-referral-short' user.pk %}/
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script src="{% static 'js/forms/settings.js' %}"></script>
{% endblock %}