{% extends 'base.html' %}
{% load static %}

{% block headstyle %}
<link rel="stylesheet" type="text/css" href="{% static 'core/homepage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/homepage_bg.css' %}">
{% endblock %}

{% block footerjs %}
<script type="text/javascript" src="{% static 'core/homepage.js' %}"></script>
{% endblock %}


{% block titlefull %}{% site_name %}{% endblock %}


{% block nav %}{% endblock nav %}


{% block wrapper %}
<div class="following bar">
	<div class="ui container">
		<div class="ui massive inverted secondary menu">
			<a class="app item icon"><i class="content icon"></i></a>
			<div class="header item">{% site_name %}</div>
			<div class="right menu">
				{% if user.is_authenticated %}
				<a href="{% url 'dashboard' %}" class="item">Dashboard</a>
				<a href="{% url 'logout' %}" class="item">Logout</a>
				{% else %}
				<a href="{% url 'login' %}" class="item">Login</a>
				<a href="{% url 'signup' %}" class="item">Sign Up</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="masthead segment">
	<div class="animation">
		<ul class="bubbles">
			<li/><li/><li/><li/><li/><li/><li/><li/><li/><li/><li/><li/><li/>
		</ul>
	</div>

	<div class="ui page container">
		<h1>{% site_name %}</h1>
		<p>Profit from your Digital Content.</p>

		<div class="ui buttons">
			{% if user.is_authenticated %}
			<a href="{% url 'dashboard' %}" class="ui red button">Dashboard</a>
			{% else %}
			<a href="{% url 'signup' %}" class="ui red button">Get Started</a>
			<a href="#learn-more" class="ui button">Learn More</a>
			{% endif %}
		</div>
	</div>
</div>


<div id="learn-more" class="ui inverted vertical segment">
	<div class="ui container">
		<h2 class="ui inverted header">
			<strong>Earn</strong> from your digital content
			<div class="sub header">
				Lock your content and earn a profit each time it's unlocked.
			</div>
		</h2>
	</div>
</div>


<div class="ui vertical centered segment">
	<div class="ui container">
		<h2 class="ui header">
			Secure <strong>Lockers</strong>
			<div class="sub header">
				Quick and easy locker setup means your content is locked
				and is ready to be <strong>monetized</strong> immediately.
			</div>
		</h2>

		<div class="spacer"></div>

		<div class="ui equal width stackable grid">
			<div class="column">
				<h3 class="ui header">
					<i class="file text outline icon"></i>
					<div class="content">
						<strong>Files</strong>
						<div class="sub header">
							Upload your files for others to unlock and download.  On each
							unlock, you profit.
						</div>
					</div>
				</h3>
			</div>
			<div class="column">
				<h3 class="ui header">
					<i class="linkify icon"></i>
					<div class="content">
						<strong>Links</strong>
						<div class="sub header">
							Protect precious links by giving, users who unlock, an unshareable
							link with an optional limit on viewing duration.
						</div>
					</div>
				</h3>
			</div>
			<div class="column">
				<h3 class="ui header">
					<i class="list icon"></i>
					<div class="content">
						<strong>Lists</strong>
						<div class="sub header">
							Lock individual list items to be distributed one at a time on
							each unlock.
						</div>
					</div>
				</h3>
			</div>
		</div>
	</div>
</div>


<div class="ui stripe-1 vertical centered segment">
	<div class="ui equal width doubling very relaxed middle aligned grid container">
		<div class="column">
			<div class="ui raised segment">
				<img class="ui centered large image" src="{% static 'images/widget.png' %}" />
			</div>
		</div>

		<div class="column">
			<h2 class="ui icon center aligned header">
				<i class="file image outline icon"></i>
				<div class="content">
					<strong>Widgets</strong>
					<div class="sub header">
						Lock any of your content with a Widget.  Pair one with any of
						{% site_name %}'s lockers and unlock many more options.
					</div>
				</div>
			</h2>
		</div>
	</div>
</div>


<div class="ui vertical centered segment">
	<div class="ui equal width doubling very relaxed middle aligned grid container">
		<div class="column">
			<h2 class="ui icon center aligned header">
				<i class="css3 icon"></i>
				<div class="content">
					Your Own <strong>Theme</strong>
					<div class="sub header">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, incidunt quos magni hic reiciendis atque a. Velit ab pariatur, distinctio! Deserunt nostrum facilis, suscipit expedita dolores. Accusantium aut odit accusamus!
					</div>
				</div>
			</h2>
		</div>
		<div class="column">
				<img class="ui centered bordered large image" src="{% static 'images/css.png' %}" />
		</div>
	</div>
</div>
{% endblock wrapper %}
