{% extends 'base.html' %}
{% load static %}

{% block headstyle %}
<link rel="stylesheet" type="text/css" href="{% static 'core/homepage.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/homepage_bg.css' %}">
{% endblock %}

{% block headjs %}
<script type="text/javascript" src="{% static 'core/homepage.js' %}"></script>
{% endblock %}

{% block titlefull %}{% site_name %}{% endblock %}


{% block nav %}{% endblock nav %}


{% block wrapper %}
<div class="masthead segment">
	<div class="animation">
		<ul class="bubbles">
			<li/><li/><li/><li/><li/><li/><li/><li/><li/><li/><li/><li/><li/>
		</ul>
	</div> 

	<div class="following bar">
		<div class="ui container">
			<div class="ui large secondary menu">
				<a class="app item icon"><i class="content icon"></i></a>
				<div class="header item">{% site_name %}</div>
				<div class="right menu">
					{% if user.is_authenticated %}
					<a href="{% url 'dashboard' %}" class="item">Dashboard</a>
					<a href="{% url 'logout' %}" class="item">Logout</a>
					{% else %}
					<a href="{% url 'login' %}" class="item">Login</a>
					<a href="{% url 'signup' %}" class="item">Sign Up</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div class="ui page container">
		<h1>{% site_name %}</h1>
		<p>Profit from your digital content</p>

		<div class="ui buttons">
			{% if user.is_authenticated %}
			<a href="{% url 'dashboard' %}" class="ui red button">Dashboard</a>
			{% else %}
			<a href="{% url 'signup' %}" class="ui red button">Get Started</a>
			<a href="#learn-more" class="ui button">Learn More</a>
			{% endif %}
		</div>
	</div>
</div>

<div id="learn-more" class="ui gray vertical segment">
	<div class="ui container">
		<h2 class="ui inverted header">
			<strong>Earn</strong> from your digital content
			<div class="sub header">
				Lock your content and earn a profit each time it's unlocked.
			</div>
		</h2>
	</div>
</div>

<div class="ui vertical segment">
	<div class="ui container">
		<h2 class="ui header">
			Secure <strong>Lockers</strong>
			<div class="sub header">
				Straightforward and painless locker setup means your content is locked
				and is ready to be <strong>monetized</strong> immediately.
			</div>
		</h2>

		<div class="spacer"></div>

		<div class="ui four column stackable grid">
			<div class="column">
				<h3 class="ui icon header">
					<i class="file image outline icon"></i>
					<div class="content">
						Widgets
						<div class="sub header">
							Lock any sort of content with Widgets.  Theme it to your heart's
							content with our CSS editor.
						</div>
					</div>
				</h3>
			</div>

			<div class="column">
				<h3 class="ui icon header">
					<i class="file image outline icon"></i>
					<div class="content">
						Files
						<div class="sub header">
							Earn by uploading the files that people want, like your new song
							or the application you created.
						</div>
					</div>
				</h3>
			</div>

			<div class="column">
				<h3 class="ui icon header">
					<i class="linkify icon"></i>
					<div class="content">
						Links
						<div class="sub header">
							Lock links to private websites that you know people would like to
							have access to.
						</div>
					</div>
				</h3>
			</div>

			<div class="column">
				<h3 class="ui icon header">
					<i class="list layout icon"></i>
					<div class="content">
						Lists
						<div class="sub header">
							Lock lists of items, such as a list of keys to your new game.
							Earn from your non-paying players.
						</div>
					</div>
				</h3>
			</div>
		</div>
	</div>
</div>
{% endblock wrapper %}
