{% load offers %}
{% load static %}

{% if not inline %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widget/icons/icon.min.css' %}" />
{% endif %}

{% if custom_css_url %}
	<link rel="stylesheet" type="text/css" href="{{ custom_css_url }}">
{% else %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widget/'|add:obj.theme|lower|add:'.css' %}" />
{% endif %}

<div class="widget">
	<h3 class="header"></h3>

	<div class="progress indicator"></div>

	{% if unlocked %}
		<a href="{{ obj.get_unlock_url }}" class="centered continue">Click to Continue</a>
	{% else %}
		<!-- {{ ip_address }} -->
		<div class="items">
			{% with redirect_url=obj.get_type|add:'s-redirect' %}
				{% for offer in offers %}
				<a class="item" href="{% url redirect_url obj.code offer.pk %}" target="_blank" data-content="{{ offer.requirements }}">
					{{ offer.category|category_icon|safe }}
					<div class="anchor">{{ offer.anchor }}</div>
					{% if offer.priority %}<i class="gold star right icon"></i>{% endif %}
				</a>
				{% empty %}
					<div class="centered">There are no offers that you can currently participate in.</div>
				{% endfor %}
			{% endwith %}
		</div>
	{% endif %}
</div>

{% comment %}
{% if user.is_staff %}
	{% include 'offers/widget/staff.html' %}
{% endif %}
{% endcomment %}

<script>var uri="{% websocket_uri %}",locker="{{ obj.get_type }}",code="{{ obj.code }}";</script>
<script src="{% static 'js/ws4redis.js' %}"></script>
<script src="{% static 'js/locker/locker.js' %}"></script>