{% load billing %}

<div class="item">
	{{ choice|payment_icon|safe }}
	<div class="content">
		<div class="header">Payment Method</div>
		{% if choice == 'NONE' or not choice %}
			<em>None</em>. Set up your payment choice now to receive payments.
		{% else %}
			{{ choice|payment_humanize }}
		{% endif %}
	</div>
</div>

<div class="item">
	<i class="calendar outline icon"></i>
	<div class="content">
		<div class="header">Payment Frequency</div>
		<p>
			Monthly <em>({{ user.billing.frequency }} days after invoice is created)</em>
		</p>
	</div>
</div>


{% if choice == 'PAYPAL' %}

<div class="item">
	<i class="at icon"></i>
	<div class="content">
		<div class="header">Paypal E-mail</div>
		{{ data.PAYPAL.email }}
	</div>
</div>

{% elif choice == 'CHECK' %}

<div class="item">
	<i class="quote left icon"></i>
	<div class="content">
		<div class="header">Pay to</div>
		{{ data.CHECK.pay_to }}
	</div>
</div>
<div class="item">
	<i class="home icon"></i>
	<div class="content">
		<div class="header">Address</div>
		{{ data.CHECK.address }}
	</div>
</div>

{% elif choice == 'WIRE' %}

<div class="item">
	<i class="quote left icon"></i>
	<div class="content">
		<div class="header">Beneficiary Name</div>
		{{ data.WIRE.beneficiary_name }}
	</div>
</div>
<div class="item">
	<i class="home icon"></i>
	<div class="content">
		<div class="header">Bank Name</div>
		{{ data.WIRE.bank_name }}
	</div>
</div>
<div class="item">
	<i class="home icon"></i>
	<div class="content">
		<div class="header">Account Number</div>
		{{ data.WIRE.account_number }}
	</div>
</div>
<div class="item">
	<i class="home icon"></i>
	<div class="content">
		<div class="header">Routing Number</div>
		{{ data.WIRE.routing_aba_swift }}
	</div>
</div>
<div class="item">
	<i class="home icon"></i>
	<div class="content">
		<div class="header">Bank Address</div>
		{{ data.WIRE.bank_address }}
	</div>
</div>
<div class="item">
	<i class="home icon"></i>
	<div class="content">
		<div class="header">Additional Information</div>
		{{ data.WIRE.additional }}
	</div>
</div>

{% elif choice == 'DIRECT' %}

<div class="item">
	<i class="quote left icon"></i>
	<div class="content">
		<div class="header">Account Holder</div>
		{{ data.DIRECT.account_holder }}
	</div>
</div>
<div class="item">
	<i class="suitcase icon"></i>
	<div class="content">
		<div class="header">Account Number</div>
		{{ data.DIRECT.account_number }}
	</div>
</div>
<div class="item">
	<i class="plug icon"></i>
	<div class="content">
		<div class="header">Routing Number</div>
		{{ data.DIRECT.routing_number }}
	</div>
</div>
<div class="item">
	<i class="building icon"></i>
	<div class="content">
		<div class="header">Bank Name</div>
		{{ data.DIRECT.bank_name }}
	</div>
</div>
<div class="item">
	<i class="ellipsis horizontal icon"></i>
	<div class="content">
		<div class="header">Additional Information</div>
		{{ data.DIRECT.additional|default:'<em>None</em>' }}
	</div>
</div>

{% endif %}
