{% load semanticui %}

<div class="ui form modal edit">
	<i class="close icon"></i>

	<div class="header">
		Edit Billing Information
	</div>

	<div class="content">
		<script>var active_tab = "{{ choice|lower }}";</script>
		<div class="ui top attached tabular menu">
			<a class="active item" data-tab="paypal"><i class="paypal icon"></i> Paypal</a>
			<a class="item" data-tab="check"><i class="pencil icon"></i> Check</a>
			<a class="item" data-tab="wire"><i class="credit card icon"></i> Wire</a>
			<a class="item" data-tab="direct"><i class="fast forward icon"></i> Direct Deposit/ACH</a>
		</div>

		<div class="ui bottom attached segment">
			<form class="ui active tab" data-tab="paypal" action="{% url 'billing' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="form" value="PAYPAL" />
				{% render_form form_paypal %}
			</form>

			<form class="ui tab" data-tab="check" action="{% url 'billing' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="form" value="CHECK" />
				{% render_form form_check %}
			</form>

			<form class="ui tab" data-tab="wire" action="{% url 'billing' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="form" value="WIRE" />
				{% render_form form_wire %}
			</form>

			<form class="ui tab" data-tab="direct" action="{% url 'billing' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="form" value="DIRECT" />
				{% render_form form_direct %}
			</form>
		</div>
	</div>

	<div class="actions">
		<div class="ui black cancel button">Cancel</div>
		<div class="ui submit positive button">Save</div>
	</div>
</div>
