@import url(https://fonts.googleapis.com/css?family=Roboto);


/*
* Mobile Page
*/
@media (max-width:401px) {
	.widget {
		font-size: 0.85rem !important;
	}

	.widget .anchor {
		padding: 0.75rem !important;
	}

	.widget .icon {
		flex: 0 0 2.5rem !important;
	}
}


/*
* Widget Page
*/
html, body {
	margin: 0;
}

.widget {
	font-family: "Roboto", "Arial", sans;
	font-size: 1rem;
	text-align: center;
}

.widget a { outline: none; }

/* Header */
.widget .header:after {
	display: block;
	content: "Complete one of the offers below to continue";
	text-align: center;
	padding: .5rem;
	font-size: 1.15rem;
	font-weight: bold;
}

/* Progress Indicator */
.widget .progress.indicator {
	display: none;
	background: url(https://i.imgur.com/4EUgkH4.gif) no-repeat;
	background-position: center;
	height: 20px;
	margin: -.2rem 0 .5rem 0;
}

/* Item Layout */
.widget .item, .widget .item div {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.widget .item div {
	align-items: center;
	flex: 1;
}

.widget .item {
	transition: background 50ms, color 50ms;
	color: #222;
	background: #F0F0F0;
	text-decoration: none;
}

.widget .item:nth-child(odd) {
	background: #F9F9F9;
}

.widget .item:hover {
	color: #FFF;
	background: #F44336;
}

/* Anchor */
.widget .anchor {
	display: inline-block;
	text-align: left;
	padding: 1rem;
}

/* Icons */
.widget .icon.wrapper {
	-webkit-flex: 0 0 3.5rem;
	-ms-flex: 0 0 3.5rem;
	flex: 0 0 3.5rem;
	background: rgba(0, 0, 0, 0.05);
}

.widget .icon:not(.wrapper) {
	display: block;
	margin: 0;
	font-size: 1.75rem;
	line-height: 90%;
	height: auto;
	width: 100%;
}

.widget .icon.star {
	color: #FFFF00 !important;
	text-shadow: 0 0 1px #000;
}


/*
* Viral Page
*/
.widget .message {
	font-size: 1.2rem;
}

.widget .message #amount {
	padding: .1rem .5rem;
	border: .1rem solid black;
	border-radius: .25rem;
	font-weight: bold;
}

.widget .url {
	display: block;
	text-decoration: none;
	color: #F44336;
}

.widget .url:hover {
	text-decoration: underline;
}