@media (max-width:1024px) {
	.masthead .page.container {
		padding: 3rem 0 !important;
	}
}

.masthead {
	position: relative;
}

.masthead .page.container {
	padding: 20rem;
	text-shadow: 0 0 #FFF;
	text-align: center;
}

.masthead h1 {
	font-size: 3.75em;
}

.masthead p {
	font-size: 1.75em;
}

.spacer {
	padding: 1.5rem;
}

.following.bar {
	padding: 1rem;
}

.vertical.segment .container {
	padding: 4rem;
}

.gray.vertical.segment {
	background-color: #222;
}

.dark.red.vertical.segment {
	background-color: #5f0600;
}

.ui.header {
	font-weight: normal;
}

.ui.footer.segment {
	margin-top: 0 !important;
}