@media (max-width:1024px) {
	.masthead .page.container {
		padding: 3rem 0 !important;
	}
}

.following.bar {
	position: fixed;
	top: 0px;
	z-index: 900;
	left: 0%;
	padding: 2em 0em;
	width: 100%;
	box-shadow: 0px 0px 0px 0px transparent;
	border-bottom: 1px solid transparent;
	transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

.light.following.bar {
	padding: 1em 0em;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}

.header.item {
	margin: 0 !important;
}

.masthead {
	position: relative;
}

.masthead .page.container {
	padding: 20rem 0;
	color: #FFF;
	text-shadow: 0 0 0.5rem #3C3C3C;
	text-align: center;
}

.masthead h1 {
	font-size: 3.75em;
}

.masthead p {
	font-size: 1.75em;
}

.spacer {
	padding: 1.5rem;
}

.following.bar {
	padding: 1rem;
}

.vertical.segment .container {
	padding: 4rem;
}

.red.vertical.segment {
	background-color: #5F0600;
}

.ui.header {
	font-weight: normal;
}

.ui.footer.segment {
	margin-top: 0 !important;
}

/* Stripes */
.stripe-1 {
	background-color: #E9E9E9 !important;
}