{% load currency %}

<div class="ui segment box">
	<div class="title">
		<i class="money icon"></i>
		Earnings
	</div>
	<div class="content">
		<table class="ui definition two column table">
			<tr>
				<td>Today</td>
				<td>${{ user.earnings.today|currency }}</td>
			</tr>
			<tr>
				<td>Month</td>
				<td>${{ user.earnings.month|currency }}</td>
			</tr>
			<tr>
				<td>Year</td>
				<td>${{ user.earnings.year|currency }}</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>${{ user.earnings.total|currency }}</td>
			</tr>
		</table>

		<a href="{% url 'leads' %}" class="ui button attached bottom">
			Leads Feed
		</a>
	</div>
</div>
