{% load currency %}

<div class="ui segment box">
	<div class="title">
		<i class="lightning icon"></i>
		Your Most Recent Leads
	</div>
	<div class="content">
		<table class="ui table">
			<thead>
				<tr>
					<th>Offer</th>
					<th></th>
					<th>Payout</th>
					<th>Date</th>
				</tr>
			</thead>

			<tbody>
				{% for lead in leads %}
				<tr>
					<td><a href="{{ lead.offer.get_manage_url }}">{{ lead.offer_name|truncatechars:'50' }}</a></td>
					<td><i class="{{ lead.country|lower }} flag"></i></td>
					<td>${{ lead.payout|cut_percent:cut_amount|currency }}</td>
					<td>{{ lead.date_time|timesince }} ago</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
