{% load currency %}

<div class="ui segment box">
	<div class="title">
		<i class="group icon"></i>
		Referral
	</div>
	<div class="content">
		<table class="ui definition two column table">
			<tr>
				<td>Today</td>
				<td>${{ user.referral_earnings.today|currency }}</td>
			</tr>
			<tr>
				<td>Month</td>
				<td>${{ user.referral_earnings.month|currency }}</td>
			</tr>
			<tr>
				<td>Year</td>
				<td>${{ user.referral_earnings.year|currency }}</td>
			</tr>
			<tr>
				<td>Total</td>
				<td>${{ user.referral_earnings.total|currency }}</td>
			</tr>
		</table>

		<a href="{% url 'user-settings' %}" class="ui button attached bottom">
			View Referrals
		</a>
	</div>
</div>