@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.masthead.segment {
	position: relative;
	min-height: 30rem;
	padding: 1em 0em;
	margin: 0;
	border-radius: 0;
}

.masthead h1.ui.header {
	margin-top: 1.25em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}

.ui.text.container {
	position: relative;
	text-shadow: 0 0 1rem #333;
}

.bg {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background: url(http://www.semantic-ui.com/images/backgrounds/16.jpg);
	background-size: cover;
	
	animation-name: fade-in;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

.ui.grid > .row {
	padding: 2rem 0rem !important;
}

.masthead .icon {
	padding: 0 !important;
}

.mast.push {
	min-height: 4rem;
}

i.icon.widget:before {
	content: "\f1c5";
}