# Python Plugins
setuptools
cython
django
psycopg2
pysocks
geoip2
psutil
asgi-redis

# Django Plugins
django-recaptcha
django-storages
django-axes
django-celery
django-countries
django-gravatar2
django-redis
django-debug-toolbar

# Git Repositories
git+https://github.com/andrewgodwin/channels
git+https://github.com/bradleyayers/django-tables2
git+https://github.com/theTarkus/django-semantic-ui-forms
git+https://github.com/thetarkus/anora