{% extends 'cp.html' %}
{% load static %}
{% load currency %}

{% block title %}Link Locker{% endblock %}

{% block tab %}links{% endblock %}

{% block content %}
<form class="ui modal" method="POST" action="{% url 'links' %}">
	<i class="close icon"></i>
	<div class="header">
		Create Link
	</div>
	<div class="content">
		<div class="ui form">
			{% csrf_token %}

			<div class="field">
				<label>Name</label>
				{{ form.name }}
			</div>

			<div class="field">
				<label>Description <small><i>Optional</i></small></label>
				{{ form.description }}
			</div>

			<div class="field">
				<label>URL</label>
				{{ form.url }}
			</div>
		</div>

	</div>
	<div class="actions">
		<div class="ui black button">
			Cancel
		</div>
		<div class="ui left labeled icon positive primary submit button">
			Create
			<i class="checkmark icon"></i>
		</div>
	</div>
</form>

<div class="wrapper">
	<div class="ui grid stackable">
		<div class="ten wide column">
			<div class="ui segment box">
				<div class="title">
					<i class="linkify icon"></i>
					Links
				</div>
				<div class="content">

					{% include 'cp/paginate.html' with items=links uri='links-page' %}

					<table class="ui table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Leads</th>
								<th>Month</th>
								<th>Total</th>
								<th>Date</th>
							</tr>
						</thead>

						<tbody>
							{% if links|length < 1 %}
								<td colspan="5">You have not created any links, yet.</td></tr>
							{% else %}
								{% for link in links %}
									<tr>
										<td><a href="{% url 'links-manage' link.code %}">{{ link.name }}</a></td>
										<td>{{ link.earnings.leads|default:'0' }}</td>
										<td>${{ link.earnings.month|currency }}</td>
										<td>${{ link.earnings.total|currency }}</td>
										<td>{{ link.date_time }}</td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="six wide column">
			<div class="ui segment box">
				<div class="title">
					<i class="add square icon"></i>
					Create
				</div>
				<div class="padded content">

					<div class="ui left labeled icon fluid basic create button{% if links|length >= MAX_LISTS %} disabled{% endif %}">
						<i class="plus icon"></i>
						Create Link
					</div>

					<br/>

					<p>You have created {{ links|length }} link(s) out of your maximum link limit of {{ MAX_LINKS }}.</p>

					<div class="ui header">Link Lockers</div>
					<p>
						The link locker is a locker created specifically to lock links.
					</p>

					<p>
						Common usage for this locker would be to lock an uncommon link,
						that you would not like others to know for free.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>var items = {{ obj.items|safe }};</script>
<script src="{% static 'js/forms/links.js' %}"></script>
{% endblock %}
