{% extends "lockers/base.html" %}
{% load static %}


{% block title %}Unlock {{ item.name }}{% endblock %}

{# ################################# #}

{% block locker %}link{% endblock %}

{# ################################# #}

{% block header_text %}Locked Link{% endblock %}

{# ################################# #}

{% block button_text %}Unlock {{ item.name }}{% endblock %}

{# ################################# #}

{% block information %}
<h3 class="ui header">
	<i class="quote left icon"></i>
	<div class="content">
		Name
		<p class="sub header">{{ item.name }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="calendar icon"></i>
	<div class="content">
		Created on
		<p class="sub header">{{ item.date_time }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="unlock icon"></i>
	<div class="content">
		Unlocks
		<div class="sub header">{{ item.earnings.leads }}</div>
	</div>
</h3>
{% endblock %}