{% extends 'lockers/bases/manage/manage.html' %}
{% block title %}Custom CSS{% endblock %}

{% block breadcrumbs_active %}
Widget: <a href="{% url 'widgets-manage' obj.code %}" class="section">{{ obj.name }}</a>
<i class="right chevron icon divider"></i>
<a href="{% url 'widgets-edit-css' obj.code %}" class="active section">Custom CSS</a>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui two column grid stackable">

		{# Custom CSS #}
		<div class="column">
			<form class="ui form box" action="{% url 'widgets-edit-css' obj.code %}" method="POST">
				<div class="ui top attached inverted red menu">
					<div class="icon header item"><i class="code icon"></i></div>
					<div class="header item">Custom CSS</div>
				</div>
				<div class="ui bottom attached segment">
					{% csrf_token %}
					<div class="field">
						<label>Custom CSS URL
							<small style="font-weight:normal">
								(Only use stylesheets from a server that uses the HTTPS protocol)
							</small>
						</label>
						<input type="url" name="custom_css_url" value="{{ obj.custom_css_url|default:'' }}" placeholder="https://example.com/stylesheet.css" />
					</div>
				</div>
				<div class="field">
					<div class="ui bottom attached fluid buttons">
						<button class="ui primary submit button">
							Set Custom CSS URL
						</button>
						<a href="{% url 'widgets-manage' obj.code %}" class="ui button">
							Back
						</a>
					</div>
				</div>
			</form>
		</div>

		{# Information #}
		<div class="column">
			<div class="box">
				<div class="ui top attached inverted red menu">
					<div class="icon header item"><i class="info circle icon"></i></div>
					<div class="header item">Information</div>
				</div>
				<div class="ui bottom attached segment">
					<div class="ui header">Custom CSS</div>

					<p>
						Using a cascading style sheet to make your widget
						look native to your website is a huge advantage in
						gaining a client. A widget that does not match your site
						makes it look like it should not be there and may deter
						your client from filling out your offer.
					</p>

					<div class="ui header">JSFiddle</div>
					<div class="ui list">
						<div class="item">
							<a href="https://jsfiddle.net/Varkus/q9qpv66L/" target="_blank">Default CSS Template</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}
