{% extends 'base-panel.html' %}
{% load static %}

{% block title %}Server{% endblock %}

{% block tab %}server{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Staff</div>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'staff-server' %}" class="active section">Server</a>
</div>
{% endblock %}

{% block content %}
<div class="ui stackable grid">
	<div class="eight wide column">
		<div class="ui one column grid">

			{# System #}
			<div class="column">
				<div class="box">
					<div class="ui top attached inverted red menu">
						<div class="icon header item"><i class="tasks icon"></i></div>
						<div class="header item">System</div>
					</div>
					<div class="ui bottom attached">
						<table class="ui definition table">
							<tbody>
								<tr>
									<td>CPU</td>
									<td>
										{{ cpu }}% ({{ cpu_count }} cores)
										<div class="ui progress" data-percent="{{ cpu }}"><div class="bar"></div></div>
									</td>
								</tr>
								<tr>
									<td>Memory</td>
									<td>
										{{ memory_used|filesizeformat }}/{{ memory_total|filesizeformat }}
										<div class="ui progress" data-percent="{% widthratio memory_used memory_total 100 %}"><div class="bar"></div></div>
									</td>
								</tr>
								<tr>
									<td>Swap</td>
									<td>
										{{ swap.used|filesizeformat }}/{{ swap.total|filesizeformat }}
										<div class="ui progress" data-percent="{% widthratio swap.used swap.total 100 %}"><div class="bar"></div></div>
									</td>
								</tr>
								<tr>
									<td>Disk</td>
									<td>
										{{ disk.used|filesizeformat }}/{{ disk.total|filesizeformat }}
										<div class="ui progress" data-percent="{% widthratio disk.used disk.total 100 %}"><div class="bar"></div></div>
									</td>
								</tr>
								<tr>
									<td>Uptime</td>
									<td>{{ uptime }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			{# Information #}
			<div class="column">
				<div class="box">
					<div class="ui top attached inverted red menu">
						<div class="icon header item"><i class="terminal icon"></i></div>
						<div class="header item">Information</div>
					</div>
					<div class="ui bottom attached">
						<table class="ui definition table">
							<tbody>
								<tr>
									<td>System</td>
									<td>{{ uname.system }}</td>
								</tr>
								<tr>
									<td>Node</td>
									<td>{{ uname.node }}</td>
								</tr>
								<tr>
									<td>Release</td>
									<td>{{ uname.release }}</td>
								</tr>
								<tr>
									<td>Version</td>
									<td>{{ uname.version }}</td>
								</tr>
								<tr>
									<td>Machine</td>
									<td>{{ uname.machine }}</td>
								</tr>
								<tr>
									<td>Processor</td>
									<td>{{ uname.processor }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="eight wide column">
		<div class="ui one column grid">

			{# Manage #}
			<div class="column">
				<div class="box">
					<div class="ui top attached inverted red menu">
						<div class="icon header item"><i class="paint brush icon"></i></div>
						<div class="header item">Manage</div>
					</div>
					<div class="ui bottom attached segment">
						<a class="ui clear cache fluid button">Clear Cache</a>
						{# <a class="ui clear cache fluid button">Clear Tokens</a> #}
						<br/>
						<a class="ui create conversion fluid button">Create Token/Conversion</a>
					</div>
				</div>
			</div>

			{# Advanced #}
			<div class="column">
				<div class="box">
					<div class="ui top attached inverted red menu">
						<div class="icon header item"><i class="wizard icon"></i></div>
						<div class="header item">Advanced</div>
					</div>
					<div class="ui bottom attached segment">
						<form class="ui fluid action input" action="{% url 'staff-server' %}" method="POST">
							{% csrf_token %}
							<input type="password" name="password" placeholder="Password" />
							<button class="ui submit button">Open</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script>
	$(".ui.progress").progress();

	$(".clear.cache.button").api({
		url: "{% url 'staff-server' %}clear-cache/",
		onSuccess: function(response) {
			$(this).state("flash text", "Cleared");
		},
	});

	$(".clear.tokens.button").api({
		url: "{% url 'staff-server' %}clear-tokens/",
		onSuccess: function(response) {
			$(this).state("flash text", "Cleared");
		},
	});

	$(".create.conversion.button").api({
		url: "{% url 'staff-server' %}create-conversion/",
		onSuccess: function(response) {
			$(this).state("flash text", response.data.text);
		},
	});
</script>
{% endblock %}
