{% extends 'base-panel.html' %}
{% load static %}

{% block title %}Staff{% endblock %}

{% block tab %}staff{% endblock %}

{% block headstyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/staff.css' %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Staff</div>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'staff' %}" class="active section">Staff</a>
</div>
{% endblock %}

{% block content %}
<div class="wrapper">

	{% comment %}
	<div class="ui secondary inverted orange staff menu">
		<a class="item" href="/admin/auth/user/">Users</a>
		<a class="item" href="/admin/auth/group/">Groups</a>
		<a class="item" href="/admin/user/party/">Parties</a>
	</div>

	<div class="ui secondary inverted blue staff menu">
		<a class="item" href="/admin/tickets/thread/">Tickets</a>
		<a class="item" href="/admin/support/contact_message/">Contacts</a>
		<a class="item" href="/admin/support/abuse_report/">Reports</a>
		<a class="item" href="/admin/billing/invoice/">Invoices</a>
	</div>

	<div class="ui secondary inverted purple staff menu">
		<a class="item" href="/admin/widgets/widget/">Widgets</a>
		<a class="item" href="/admin/files/file/">Files</a>
		<a class="item" href="/admin/links/link/">Links</a>
		<a class="item" href="/admin/lists/list/">Lists</a>
	</div>

	<div class="ui secondary inverted teal staff menu">
		<a class="item" href="/admin/offers/offer/">Offers</a>
		<a class="item" href="/admin/conversions/conversion/">Conversions</a>
		<a class="item" href="/admin/conversions/token/">Tokens</a>
	</div>
	{% endcomment %}


	<div class="ui four item snav menu">
		<div class="ui dropdown title item">
			Auth
			<i class="dropdown icon"></i>
			<div class="staff menu">
				<a class="item" href="/admin/auth/user/">Users</a>
				<a class="item" href="/admin/auth/group/">Groups</a>
				<a class="item" href="/admin/user/party/">Parties</a>
			</div>
		</div>

		<div class="ui dropdown title item">
			Support
			<i class="dropdown icon"></i>
			<div class="staff menu">
				<a class="item" href="/admin/tickets/thread/">Tickets</a>
				<a class="item" href="/admin/support/contact_message/">Contacts</a>
				<a class="item" href="/admin/support/abuse_report/">Reports</a>
				<a class="item" href="/admin/billing/invoice/">Invoices</a>
			</div>
		</div>

		<div class="ui dropdown title item">
			Lockers
			<i class="dropdown icon"></i>
			<div class="staff menu">
				<a class="item" href="/admin/widgets/widget/">Widgets</a>
				<a class="item" href="/admin/files/file/">Files</a>
				<a class="item" href="/admin/links/link/">Links</a>
				<a class="item" href="/admin/lists/list/">Lists</a>
			</div>
		</div>

		<div class="ui dropdown title item">
			Offers
			<i class="dropdown icon"></i>
			<div class="staff menu">
				<a class="item" href="/admin/offers/offer/">Offers</a>
				<a class="item" href="/admin/conversions/conversion/">Conversions</a>
				<a class="item" href="/admin/conversions/token/">Tokens</a>
			</div>
		</div>
	</div>

	<div class="ui frame segment">
		<iframe name="frame" src="/admin/auth/user/"></iframe>
	</div>
</div>

<script>deposits = { {% for deposit in deposits %}"{{ deposit.name }}": "{{ deposit.code }}",{% endfor %} };</script>
<script type="text/javascript" src="{% static 'js/pages/staff.js' %}"></script>
{% endblock %}
