<form class="ui modal account" method="POST" action="{% url "user-settings-modify" "account" %}">
	<i class="close icon"></i>
	<div class="header">
		Modify Account Details
	</div>
	<div class="content">
		<div class="ui form">
			{% csrf_token %}

			<div class="field">
				<label>E-mail</label>
				{{ form.email }}
			</div>
		</div>

	</div>
	<div class="actions">
		<div class="ui black button">
			Cancel
		</div>
		<div class="ui left labeled icon positive primary submit button">
			Save
			<i class="check icon"></i>
		</div>
	</div>
</form>