<form class="ui modal personal" method="POST" action="{% url 'user-settings-modify' 'personal' %}">
	<i class="close icon"></i>
	<div class="header">
		Modify Personal Details
	</div>
	<div class="content">
		<div class="ui form">
			{% csrf_token %}

			<div class="two fields">
				<div class="field">
					<label>First Name</label>
					{{ form.first_name }}
				</div>
				<div class="field">
					<label>Last Name</label>
					{{ form.last_name }}
				</div>
			</div>


			<div class="field">
				<label>Country</label>
				{% include 'cp/countries.html' with code=user.profile.country %}
			</div>

			<div class="field">
				<label>Website</label>
				{{ form.website }}
			</div>
		</div>

	</div>
	<div class="actions">
		<div class="ui black deny button
">
			Cancel
		</div>
		<div class="ui left labeled icon positive primary submit button">
			Save
			<i class="save icon"></i>
		</div>
	</div>
</form>