{% extends 'base-panel.html' %}
{% load static %}
{% load currency %}
{% load blueprints %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="wrapper">
	{# Information Blocks #}
	<div class="ui four column equal height stretched stackable grid">
		<div class="column">
			{% data_block_two 'red' user.earnings.clicks_today 'Clicks' user.earnings.clicks 'Total' 'pointing up' 'user clicks today' 'user clicks total' %}
		</div>

		<div class="column">
			{% data_block_two 'blue' user.earnings.conversions_today 'Conversions' user.earnings.conversions 'Total' 'lightning' 'user conversions today' 'user conversions total' %}
		</div>

		<div class="column">
			{% data_block_two 'green' user.earnings.today 'Earnings' user.earnings.total 'Total' 'dollar' 'user earnings today' 'user earnings total' %}
		</div>

		<div class="column">
			{% data_block 'orange' user.earnings.epc|currency 'Earnings per Click' 'bullseye' 'user epc today' %}
		</div>
	</div>

	<div class="ui stackable grid">
	
		{# Left Column #}
		<div class="seven wide column">
			<div class="ui one column stackable grid">
				{# Line #}
				<div class="column">
					{% line_chart '/dashboard/chart/line.json' %}
				</div>

				{# Map #}
				<div class="column">
					{% map_chart '/dashboard/chart/map.json' %}
				</div>

				{# Twitter #}
				<div class="column">
					<div class="ui segment">
						<a class="twitter-timeline" data-dnt="true" data-theme="light" data-link-color="#F44336" href="https://twitter.com/varkuscom">Tweets by varkuscom</a>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
			</div>
		</div>

		{# Right Column #}
		<div class="nine wide column">
			<div class="ui one column stackable grid">
				{# Conversions #}
				{% if conversions.data.data|length > 0 %}
					<div class="column">
						{% table conversions 'Most Recent Conversions' 'lightning' %}
					</div>
				{% endif %}

				{# Newest Offers #}
				<div class="column">
					{% table offers 'Newest Offers' 'tags' %}
				</div>

				{# Top Performing Offers #}
				<div class="column">
					{% table top_offers 'Top Performing Offers' 'pie chart' %}
				</div>

			</div>
		</div>

	</div>
</div>
{% endblock %}
