{% extends 'frontend.html' %}

{% block content %}
<div class="ui container grid">
	<div class="column">
		<h2><i class="legal icon"></i> Digital Millennium Copyright Act Policy</h2>
		<div class="ui segment">
			<p>{% site_name %} respects the intellectual property rights of others and expects it's users to follow in suit. The Digital Millennium Copyright Act of 1998 text may be found on the U.S. Copyright Office website: <a href="http://copyright.gov/legislation/dmca.pdf">http://copyright.gov/legislation/dmca.pdf</a>. {% site_name %} responds quickly to claims of copyright infringement commited using our services.</p>

			<p>If you are a copyright owner, please report alleged copyright infringements taking place on {% site_name %} or through our services by submitting an abuse report with a Notice.</p>

			<div class="ui segment">
				<h3>DMCA Notice of Alleged Infringement ("Notice")</h3>

				<ul class="list">
					<li>Identify the copyrighted work(s) that you claim have been infringed.</li>
					<li>Include where the infringing work(s) is located at.</li>
					<li>Provide your valid mailing address, telephone number, and e-mail address.</li>
					<li>Provide your full legal name and your electronic or physical signature.</li>
					<li>Include both of the following statments in the body of the Notice:
						<ul class="list">
							<li>"I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."</li>
							<li>"I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."</li>
						</ul>
					</li>
				</ul>
			</div>

			<p>Submit this Notice, with all items completed, to our <a href="{% url 'report' %}">abuse report</a> page.</p>
		</div>
	</div>
</div>
{% endblock %}