{% extends 'frontend.html' %}
{% load static %}


{% block content %}
<div class="banner" style="width:100% !important">
	<a class="next slideshow frame"><i class="right angle icon"></i></a>
	<a class="prev slideshow frame"><i class="left angle icon"></i></a>

	<ul class="no margin">

		<li class="first slide">
			<div class="ui page grid">
				<div class="column">
					<div class="computer only">
						<h1 class="large text no margin">{% site_name %}</h1>
						<h2 class="no margin">Amplify your profits with our Leading Monetization Solutions</h2>
					</div>
					<h1 class="no margin mobile tablet only">
						Leading Monetization Solutions
					</h1>
					<br/>
					<div class="ui two column stackable grid">
						<div class="column">
							<p><i class="circular download disk icon"></i> File Locking</p>
							<p><i class="circular linkify icon"></i> Link Locking</p>
							<p><i class="circular list layout icon"></i> List Locking</p>
							<p><i class="circular file image outline icon"></i> Widgets</p>
						</div>

						<div class="column ui bottom aligned right aligned">
							<a class="ui button" href="{% url 'signup' %}">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</li>

		<li class="second slide">
			<div class="ui page grid column">
				<div class="column">
					<div class="computer only">
						<h1 class="large text no margin">{% site_name %}</h1>
					</div>
					<h2 class="no margin">Maximize your cash flow with our Breakthrough Lockers</h2>
					<br/>
					<div class="ui two column stackable grid">
						<div class="column">
							<p><i class="circular mobile icon"></i> Optimized for Mobile</p>
							<p><i class="circular globe icon"></i> Geo Targeted</p>
							<p><i class="circular code icon"></i> CSS customization</p>
							<p><i class="circular exchange icon"></i> Extensive API</p>
						</div>

						<div class="column ui bottom aligned right aligned">
							<a class="ui primary button" href="{% url 'signup' %}">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
{% endblock %}
