{% extends 'frontend.html' %}
{% load static %}

{% block pusher %}{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/index.css' %}">
{% endblock %}

{% block full_title %}Varkus{% endblock %}

{% block content %}
<div class="ui masthead center aligned inverted segment">
	<div class="bg"></div>
	<div class="ui text container">

		<h1 class="ui inverted header">{% site_name %}</h1>

		<h2>First Class Monetization Solutions</h2>

		<a href="{% url 'signup' %}" class="ui huge inverted button">
			Get Started
		</a>

		{% if user.is_anonymous %}
			<a href="{% url 'login' %}" class="ui huge inverted basic button">
				Login
			</a>
		{% else %}
			<a href="{% url 'dashboard' %}" class="ui huge inverted basic button">
				Dashboard
			</a>
		{% endif %}
	</div>
</div>

<div class="ui secondary stripe vertical segment">
	<div class="ui center aligned grid container">
		<div class="fourteen wide stackable column">
			<h3 class="ui header">
				<div class="content">
					Earn an income from your work and content.
				</div>
			</h3>
		</div>
	</div>
</div>

<div class="mast push"></div>

<div class="stackable very relaxed intro ui grid container">
	<div class="equal width row">
		<div class="column">
			<h2 class="ui header">
				<i class="lock icon"></i>
				<div class="content">
					Simple Lockers
				</div>
			</h2>

			<p>
				Lock precious content that you own or have created and earn
				income from each unlock.
			</p>

			<p>
				Your content can be hosted by us or by yourself with the use
				of widgets.
			</p>
		</div>
		<div class="column">
			<h3 class="ui header">
				<i class="file icon"></i>
				<div class="content">
					File Locker
					<div class="sub header">
						Upload your file and earn per download.
					</div>
				</div>
			</h3>
			<h3 class="ui header">
				<i class="linkify icon"></i>
				<div class="content">
					Link Locker
					<div class="sub header">
						Lock a link and earn per unlock.
					</div>
				</div>
			</h3>
			<h3 class="ui header">
				<i class="list layout icon"></i>
				<div class="content">
					List Locker
					<div class="sub header">
						Lock a list of items and earn per item unlock.
					</div>
				</div>
			</h3>
		</div>
	</div>

	<div class="ui segment equal width row">
		<div class="column center aligned">
			<h2 class="ui icon header">
				<i class="circular globe icon"></i>
				Geo Targeted
			</h2>
			<p>
				Offers are targeted towards your client's country of origin
				giving you more leads and earnings.
			</p>
		</div>

		<div class="column center aligned">
			<h2 class="ui icon header">
				<i class="circular mobile icon"></i>
				Mobile Interface
			</h2>
			<p>
				The default lockers are optimized for every interface but also
				are beautiful and accessible on mobile devices. 
			</p>
		</div>

		<div class="column center aligned">
			<h2 class="ui icon header">
				<i class="circular users icon"></i>
				Referrals
			</h2>
			<p>
				Refer your friends and family to {% site_name %} and receive 10% of their
				earnings <strong>for life</strong>.
			</p>
		</div>
	</div>

	<div class="equal width row">
		<div class="column">
			<h2 class="ui header">
				<i class="widget icon"></i>
				<div class="content">
					Customizable Widgets
				</div>
			</h2>

			<p>
				Make your locker look native to your website with CSS customization.
			</p>

			<p>
				Lock content on your accord using postbacks, and receive notifications
				on your server giving you in-depth details on your lead.
			</p>
		</div>
		<div class="column">
			<h3 class="ui header">
				<i class="code icon"></i>
				<div class="content">
					CSS Customization
					<div class="sub header">
						Customize your offer wall to how you want.
					</div>
				</div>
			</h3>
			<h3 class="ui header">
				<i class="exchange icon"></i>
				<div class="content">
					Postbacks
					<div class="sub header">
						Receive HTTPS notifications after every lead.
					</div>
				</div>
			</h3>
		</div>
	</div>
</div>
{% endblock %}
