@media only screen and (min-width: 992px) {
	.pusher {
		margin-left: 15rem !important;
	}
}

.inverted.sidebar::-webkit-scrollbar {
  width: 0.8rem;
}

.inverted.sidebar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

.inverted.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
}

.inverted.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.inverted.sidebar::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.20);
}

.ui.main.menu .item {
	color: #4c4e54;
}

.ui.main.menu .item:before {
	width: 0;
}

.wrapper {
	padding: 0.5rem;
}

.menu.push {
	height: 2.5rem !important;
}

.plotTip {
	background: rgba(255, 255, 255, 0.75) !important;
	border: 0 !important;
	border-radius: 0 !important;
}

.legendLabel {
	color: #000;
}
