.menu.push {
	height: 2.5rem !important;
}

.plotTip {
	background: rgba(255, 255, 255, 0.75) !important;
	border: 0 !important;
	border-radius: 0 !important;
}

.legendLabel {
	color: #000;
}