{% extends 'cp.html' %}
{% load static %}
{% load currency %}
{% load django_tables2 %}

{% block title %}File Locker{% endblock %}

{% block tab %}files{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui grid stackable">
		<div class="ten wide column">
			<div class="ui segment box">
				<div class="title">
					<i class="file layout icon"></i>
					Files
				</div>
				<div class="content">
					{% render_table table 'cp/table.html' %}
				</div>
			</div>
		</div>
		<div class="six wide column">
			<div class="ui segment box">
				<div class="title">
					<i class="add square icon"></i>
					Upload
				</div>
				<div class="padded content">

					<a href="{% url 'files-upload' %}" class="ui left labeled icon fluid basic create button{% if files|length >= MAX_FILES %} disabled{% endif %}">
						<i class="upload icon"></i>
						Upload File
					</a>

					<br/>

					<p>You have uploaded {{ files|length }} file(s) out of your maximum file limit of {{ MAX_FILES }}.</p>

					<div class="ui header">File Lockers</div>
					<p>
						The file locker is a locker created specifically for the purpose of locking important files
						that you would otherwise not want to share without any sort of compensation.
						You can use the various options to customize how the user obtains
						your file.
					</p>

					<p>
						Common usage for this locker would be to upload custom applications,
						private files worth something, or your band's music.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
