{% extends 'cp.html' %}
{% load static %}

{% block title %}Files{% endblock %}

{% block tab %}files{% endblock %}

{% block content %}
<div class="ui modal">
	<div class="header">
		Uploading your File: <span class="file name"></span>
	</div>

	<div class="content">
		<div class="ui indicating progress">
			<div class="bar">
				<div class="progress"></div>
			</div>
			<div class="label"></div>
		</div>
	</div>

	<div class="actions">
		<a class="ui negative button">
			Cancel Upload
		</a>
		<a href="{% url 'files-upload' %}" class="ui left labeled icon positive button disabled">
			<i class="right arrow icon"></i>
			Continue
		</a>
	</div>
</div>

<div class="wrapper">
	<div class="ui two column grid stackable no margin">
		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="upload icon"></i>
					Upload File
				</div>
				<div class="padded content">
					<p>
						Currently, the maximum file size your upload can be is
						<strong>50 megabytes</strong>. Earn more for
						this limit to be raised.
					</p>

					<p>
						<label for="file" class="ui left labeled icon fluid basic upload button">
							<i class="file icon"></i>
							Select File
						</label>
							
						<input class="file upload input"
							type="file" id="file" name="file"
							style="display:none" />
					</p>

					<p>
						Keep your file's name clean! Nothing too raunchy or provocative.
					</p>

					<p>
						By uploading a file you agree to our
						<a href="{% url 'terms' %}">Terms and Conditions</a>
						and that your file does not violate any of our
						Uploaders' Rules.
					</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="info circle icon"></i>
					Uploaders' Rules
				</div>
				<div class="padded content">
					<p>
						We know uploading files is something you want to get
						right to straight away, so we'll keep this short and simple.
						Below is some information on the things you can and cannot upload.
					</p>

					<strong>Cans</strong>
					<p>
						Anything you have created that you have permission to
						upload is allowed as long as it does not violate the cannots.
					</p>
					<p>
						You can upload files any file format excluding executables.
						If you wish to distribute executables you must archive them.
					</p>

					<strong>Cannots</strong>
					<ul class="ui list" style="margin-top:0.2rem">
						<li>Malware or Spyware</li>
						<li>Child Pornography</li>
						<li>Copyrighted Music, Videos or Photos</li>
						<li>Anything illegal in the United States</li>
					</ul>

					<p>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/upload/jquery.fileupload.js' %}"></script>
<script>
	var jqXHR = null;

	$(".ui.progress").progress();
	$(".ui.modal")
		.modal({
			"closable": false,

			onApprove: function() { return false; },
			onDeny: function() {
				$(".ui.progress>.label").html("Upload Cancelled");

				$(".ui.modal>.actions>.positive")
					.removeClass("disabled")
					.attr("href", window.location);

				$(".ui.modal>.actions>.negative")
					.addClass("disabled");

				jqXHR.abort();
				return false;
			}
		});

	var byte_size = function(bytes) {
		var sizes = ["B", "KB", "MB", "GB", "TB"];
		if (bytes == 0) return "0B";
		var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
		return Math.round(bytes / Math.pow(1024, i), 2) + sizes[i];
	};

	$(".file.upload.input").fileupload({
		url: "{% url 'files-process' %}",
		dataType: "json",
		maxNumberOfFiles: 1,
		add: function (e, data) {
			var errors = 0;

			if(data.files[0]["size"] > {{ MAX_UPLOAD_SIZE }}) {
				$(".ui.progress>.label").html(
					"File too large! (" +
					String(byte_size(data.files[0]["size"])) + "/" +
					String(byte_size({{ MAX_UPLOAD_SIZE }})) + ")"
				);
				errors++;
			}

			if(errors > 0) {
				$(".ui.modal").modal("show");
				$(".file.name").html(data.files[0]["name"]);

				$(".ui.progress").removeClass("success").addClass("error");
				$(".ui.modal>.actions>.positive").removeClass("disabled");
				$(".ui.modal>.actions>.negative").addClass("disabled");
			} else
				jqXHR = data.submit();
		},
		done: function (e, data) {
			var response = data.result;

			if(!!response.success) {
				$(".ui.modal>.actions>.positive")
					.removeClass("disabled")
					.attr("href", response.value);

				$(".ui.modal>.actions>.negative")
					.addClass("disabled");

			} else {
				$(".ui.progress>.label").html("ERROR: " + response.value);
				$(".ui.progress").removeClass("success").addClass("error");
				$(".ui.modal>.actions>.positive").removeClass("disabled");
				$(".ui.modal>.actions>.negative").addClass("disabled");
			}
		},
		progressall: function (e, data) {
			var percent = parseInt(data.loaded / data.total * 100);

			$(".ui.progress").progress({ value: percent });
			$(".ui.progress>.label").html(
				byte_size(data.loaded) + " / " +
				byte_size(data.total)
			);
		}
	})

	.bind("fileuploadsubmit", function (e, data) {
		$(".ui.progress").progress({ value: 0 });
		$(".ui.modal").modal("show");
		$(".file.name").html(data.files[0].name);
		data.formData = { "csrfmiddlewaretoken": "{{ csrf_token }}" };
	});
</script>
{% endblock %}