server {
	listen 80;
	listen 443 default_server ssl;

	root /var/www/viking/project/;

	index index.html;

	server_name {DOMAIN};
	client_max_body_size 100m;

	# Robots.txt
	location /robots.txt {
		alias /var/www/viking/static/robots.txt;
	}

	# Static Files
	location /static/ {
		alias /var/www/viking/static/;
		autoindex on;
	}

	location /static/admin/ {w
		#alias /var/www/viking/env/lib/python3.4/site-packages/django/contrib/admin/static/;
		alias /var/www/viking/env/lib/python{VERSION}/site-packages/django/contrib/admin/static/;
		autoindex on;
	}

	# Media Files
	location /media/ {
		alias /var/www/viking/media/;
		autoindex off;
	}

	# Protected Media Files
	location /media/files/ {
		alias /var/www/viking/media/files/;
		internal;
	}

	# Websocket Reverse Proxy
	location /ws/ {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_set_header X-Real-IP $remote_addr;
		proxy_pass http://127.0.0.1:8001;
	}

	# uWSGI Reverse Proxy
	location / {
		proxy_pass_header Server;
		proxy_set_header Host $http_host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Scheme $scheme;
		proxy_redirect off;
		proxy_connect_timeout 60;
		proxy_read_timeout 60;
		proxy_pass http://127.0.0.1:8000;
	}
}
