{% extends 'users/user_base.html' %}

{% load static molds semanticui %}

{% block title %}Update Account{% endblock %}

{% block breadcrumbs_active %}
<a href="{% url 'account-update' %}" class="section active">Update Account</a>
{% endblock %}


{% block content %}
<div class="ui text container">

	<form class="ui form box" method="POST">
		{% render_titlebar 'Update Details' 'setting' %}
		<div class="ui bottom attached segment">
			<h3>Personal Details</h3>
			{% csrf_token %}
			<div class="two fields">
				{% render_field form.first_name placeholder='John' %}
				{% render_field form.last_name placeholder='Smith' %}
			</div>

			{% render_field form.phone_number placeholder='+1 555-555-5555' %}
			{% render_field form.country _override='CountryField' _style='search' %}
			{% render_field form.state placeholder='Virginia' %}
			{% render_field form.city placeholder='Jamestown' %}
			{% render_field form.postal_code placeholder='23081' %}
			{% render_field form.address placeholder='123 Madeup Ave' %}

			<h3>Account Details</h3>
			{% render_field form.email placeholder='john@smith.com' %}
			{% render_field form.company placeholder='John Smith Enterprises' %}
			{% render_field form.website placeholder='johnsmith.com' %}
		</div>

		<div class="ui bottom attached fluid buttons">
			<button class="ui left labeled primary submit icon button">
				<i class="check icon"></i> Save
			</button>
			<a href="{% url 'account' %}" class="ui button">
				Back
			</a>
		</div>
	</form>

</div>
{% endblock %}


{% block footerjs %}
<script src="{% static 'support/account_update.js' %}"></script>
{% endblock %}