{% extends 'lockers/bases/locker/locker.html' %}

{% block title %}Unlock {{ obj.name }}{% endblock %}
{% block header_text %}Locked Link{% endblock %}
{% block button_text %}Unlock {{ obj.name }}{% endblock %}

{% block information %}
<h3 class="ui header">
	<i class="quote left icon"></i>
	<div class="content">
		Name
		<p class="sub header">{{ obj.name }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="calendar icon"></i>
	<div class="content">
		Created on
		<p class="sub header">{{ obj.date_time }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="unlock icon"></i>
	<div class="content">
		Unlocks
		<div class="sub header">{{ obj.earnings.conversions }}</div>
	</div>
</h3>
{% endblock %}