{% extends 'frontend.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="ui page grid">
	<div class="two wide column"></div>
	
	<div class="twelve wide column">
		<h2><i class="asterisk icon"></i> Change Password</h2>

		<form class="ui form segment" method="POST" action="{% url 'password-change' %}">
			{% csrf_token %}

			<input type="hidden" name="next" value="{{ next }}" />

			<div class="field{% if form.old_password.errors %} error{% endif %}">
				<label>Old Password</label>
				<div class="ui icon input">
					{{ form.old_password }}
					<i class="privacy icon"></i>
				</div>
				{% if form.old_password.errors %}
					<div class="ui red pointing prompt label transition visible">
						Your previous password is not correct!
					</div>
				{% endif %}
			</div>

			<div class="field">
				<label>New Password</label>
				<div class="ui icon input">
					{{ form.new_password1 }}
				</div>
			</div>

			<div class="field">
				<label>Confirm Password</label>
				<div class="ui input">
					{{ form.new_password2 }}
				</div>
			</div>

			<div class="ui fluid primary submit button">Change Password</div>
		</form>
	</div>
</div>

<script src="{% static 'js/forms/password-change.js' %}"></script>
{% endblock %}
