{% extends 'cp.html' %}
{% load static %}

{% block title %}Tickets{% endblock %}

{% block tab %}tickets{% endblock %}

{% block content %}
<div class="wrapper">

	<div class="ui two column grid stackable no margin">
		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="ticket icon"></i>
					Create Ticket
				</div>
				<div class="padded content">
					<form class="ui divided relaxed form" method="POST" enctype="multipart/form-data" action="{% url 'tickets' %}">
						{% csrf_token %}
						<div class="ui error message"></div>

						<div class="field">
							<label>Subject</label>
							<div class="ui input">
								{{ form.subject }}
							</div>
						</div>

						<div class="two fields">
							<div class="field">
								<label>Priority</label>
								<div class="ui input">
									<div class="ui selection fluid dropdown">
										<input type="hidden" name="priority">
										<div class="default text">Choose a priority</div>
										<i class="dropdown icon"></i>
										<div class="menu">
											{% for priority in priorities %}
												<div class="item" data-value="{{ priority.0 }}">{{ priority.1 }}</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>

							<div class="field">
								<label>Type</label>
								<div class="ui input">
									<div class="ui selection fluid dropdown">
										<input type="hidden" name="type">
										<div class="default text">Choose a type</div>
										<i class="dropdown icon"></i>
										<div class="menu">
											{% for type in types %}
											<div class="item" data-value="{{ type.0 }}">{{ type.1 }}</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="field">
							<label>Message</label>
							{{ form.message }}
						</div>

						<div class="field">
							<label>Upload Image <em>(Optional)</em></label>
							{{ form.image }}
						</div>

						<div class="field no margin">
							<div class="ui fluid labeled icon buttons">
								<div class="ui submit primary button">
									<i class="add icon"></i>
									Submit Ticket
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="list layout icon"></i>
					Tickets
				</div>
				<div class="content">

					{% include 'cp/paginate.html' with items=threads uri='tickets-page' %}

					<table class="ui table">
						<thead>
							<tr>
								<th>Subject</th>
								<th>Date</th>
								<th>Last Replier</th>
								<th>Status</th>
							</tr>
						</thead>

						<tbody>
							{% if threads|length > 0 %}
							{% for thread in threads %}
							<tr {% if thread.is_unread %}class="warning"{% endif %}>
								<td>
									<a class="block" href="{% url 'tickets-thread' thread.pk %}">
										{{ thread.subject|truncatechars:'30' }}
									</a>
								</td>
								<td>{{ thread.date_time }}</td>
								<td>{{ thread.last_reply_user.first_name }}</td>
								{% if thread.closed %}
								<td class="negative">Closed</td>
								{% else %}
								<td class="positive">Open</td>
								{% endif %}
							</tr>
							{% endfor %}
							{% else %}
							<tr>
								<td colspan="6">You have not created any tickets.</td>
							</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/forms/tickets.js' %}"></script>
{% endblock %}
