{% extends 'cp.html' %}
{% load static %}
{% load gravatar %}

{% block title %}Tickets{% endblock %}

{% block tab %}tickets{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui grid stackable">
		<div class="six wide column">
			<div class="ui segment box">
				<div class="title">
					<i class="ticket icon"></i>
					Ticket
				</div>
				<div class="content">
					<table class="ui definition two column table">
						<tbody>
							<tr>
								<td>Subject </td>
								<td>{{ thread.subject }}</td>
							</tr>
							<tr>
								<td>Status </td>
								{% if thread.closed %}
									<td class="negative">Closed</td>
								{% else %}
									<td class="positive">Open</td>
								{% endif %}
							</tr>
							<tr>
								<td>Created on </td>
								<td>{{ thread.date_time }}</td>
							</tr>
							<tr>
								<td>Type </td>
								<td>{{ thread.type_human }}</td>
							</tr>
							<tr>
								<td>Priority </td>
								<td>{{ thread.priority_human }}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="padded content no min height">

					<form method="POST" action="{% url 'tickets-thread-action' thread.pk 'set' %}">
						{% csrf_token %}
						{% if not thread.staff_closed %}
							{% if thread.closed %}
								<div class="ui labeled fluid icon primary submit button">
									<i class="unlock icon"></i>
									Re-Open Ticket
								</div>
							{% else %}
								<div class="ui labeled fluid icon primary submit button">
									<i class="lock icon"></i>
									Close Ticket
								</div>
							{% endif %}
						{% else %}
							<a class="ui disabled primary button fluid">Re-Open Ticket</a>
						{% endif %}

						{% if user.is_superuser %}
							<br/>
							<div class="ui two column grid">
								<div class="column">
									<a class="ui labeled fluid icon blue button" target="_blank" href="{% url 'staff' %}?url=/admin/tickets/thread/{{ thread.pk }}/">
										<i class="shield icon"></i>
										Ticket
									</a>
								</div>
								<div class="column">
									<a class="ui labeled fluid icon primary button" target="_blank" href="{% url 'staff' %}?url=/admin/auth/user/{{ thread.user.pk }}">
										<i class="basic user icon"></i>
										User
									</a>
								</div>
							</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>

		<div class="ten wide column">
			<div class="ui segment box">
				<div class="title">
					<i class="comments icon"></i>
					Messages
				</div>
				<div class="padded content">
					<div class="ui comments">
						{% for post in posts %}
							<div class="comment">
								<a class="avatar">
									{% gravatar post.user.email 150 %}
								</a>
								<div class="content">
									<a class="author">
										{{ post.user.first_name }}
									</a>
									<div class="metadata">
										<span class="date">{{ post.date_time|timesince }} ago</span>
									</div>
									<div class="text">
										{{ post.content|linebreaksbr }}
									</div>
									<div class="actions">
										{% if request.user == post.user %}
											<a href="{% url 'tickets-thread-action' thread.pk 'delete' %}?id={{ post.id }}">
												Delete
											</a>
										{% endif %}
										{% if post.image %}
											<a target="_blank" href="{{ post.image.url }}">
												View Attached Image
											</a>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

					<div class="ui divider"></div>

					<form class="ui form" method="POST" enctype="multipart/form-data" action="{% url 'tickets-thread-action' thread.pk 'post' %}">
						{% csrf_token %}
						<div class="ui error message"></div>

						<div class="field">
							<label>Message</label>
							{{ form.message }}
						</div>

						<div class="field">
							<label>Image</label>
							{{ form.image }}
						</div>

						<div class="ui labeled fluid icon primary submit button">
							<i class="add icon"></i>
							Submit Message
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/forms/ticket-thread.js' %}"></script>
{% endblock %}
