{% extends "cp.html" %}
{% load static %}

{% block title %}Tickets{% endblock %}

{% block tab %}tickets{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui grid stackable">
		<div class="six wide column">
			<div class="box">
				<div class="title">
					<i class="ticket icon"></i>
					Ticket
				</div>
				<div class="content">
					<table class="ui table">
						<tbody>
							<tr>
								<td>Subject </td>
								<td>{{ thread.subject }}</td>
							</tr>
							<tr>
								<td>Status </td>
								{% if thread.closed %}
								<td class="negative">Closed</td>
								{% else %}
								<td class="positive">Open</td>
								{% endif %}
							</tr>
							<tr>
								<td>Created on </td>
								<td>{{ thread.date_time }}</td>
							</tr>
							<tr>
								<td>Type </td>
								<td>{{ thread.type_human }}</td>
							</tr>
							<tr>
								<td>Priority </td>
								<td>{{ thread.priority_human }}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="padded content no min height">

					<form method="POST" action="{% url "tickets-thread-action" thread.pk "set" %}">
					{% csrf_token %}
					{% if not thread.staff_closed %}
						{% if thread.closed %}
						<div class="ui labeled fluid icon primary submit button">
							<i class="unlock icon"></i>
							Re-Open Ticket
						</div>
						{% else %}						
						<div class="ui labeled fluid icon primary submit button">
							<i class="lock icon"></i>
							Close Ticket
						</div>
						{% endif %}
					{% else %}
						<a class="ui disabled primary button fluid">Re-Open Ticket</a>
					{% endif %}

					{% if user.is_staff %}
						<br/>
						<div class="ui two column grid">
							<div class="column">
								<a class="ui labeled fluid icon blue button" target="_blank" href="/admin/tickets/thread/{{ thread.pk }}/">
									<i class="shield icon"></i>
									Ticket
								</a>
							</div>
							<div class="column">
								<a class="ui labeled fluid icon primary button" target="_blank" href="/admin/auth/user/{{ thread.user.pk }}/">
									<i class="basic user icon"></i>
									User
								</a>
							</div>
						</div>
					{% endif %}
					</form>
				</div>
			</div>
		</div>

		<div class="ten wide column">
			<div class="box">
				<div class="title">
					<i class="chat icon"></i>
					Posts
				</div>
				<div class="padded content">
					<div class="ui comments">
						{% for post in posts %}
						<div class="ui segment">
							<div class="comment">
								<div class="content">
									{% if user.is_staff %}
									<a class="ui label primary"><i class="shield icon"></i>{{ post.user.first_name }}</a>
									{% else %}
									<a class="ui label primary"><i class="user icon"></i>{{ post.user }}</a>
									{% endif %}
									<div class="metadata">
										<span class="date">{{ post.date_time|timesince }} ago</span>
									</div>
									<div class="text">
										{{ post.content|linebreaksbr }}
									</div>
									{% if post.image %}
									<div class="actions">
										<a target="_blank" href="{{ post.image.url }}">
											View Attached Image
										</a>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>

					<div class="ui divider"></div>

					<form class="ui form" method="POST" enctype="multipart/form-data" action="{% url "tickets-thread-action" thread.pk "post" %}">
						{% csrf_token %}
						<div class="ui error message"></div>

						<div class="field">
							<label>Message</label>
							{{ form.message }}
						</div>

						<div class="field">
							<label>Image</label>
							{{ form.image }}
						</div>

						<div class="ui labeled fluid icon primary submit button">
							<i class="add icon"></i>
							Add Post
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static "js/forms/ticket-thread.js" %}"></script>
{% endblock %}