{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block object-tools-items %}

<li><a class="generate-notification-url" href="#">{% trans "Generate HTTP Notification URL" %}</a></li>

<script type="text/javascript">
(function($) {
	var url = window.location.protocol + "//" + window.location.host;
	$(".generate-notification-url").click(function() {
		var offer = $("#id_offer_id").val();
		var payout = $("#id_payout").val();

		var unique = prompt("Input your token's unique identifier",
			localStorage.getItem("hnuUnique") || "");

		var ip_address = prompt("Input an IP Address",
			localStorage.getItem("hnuIPAddress") || "");

		var deposit = prompt("Input your deposit password",
			localStorage.getItem("hnuDeposit") || "");

		var approved = prompt("Approved = 1 | Unapproved = 0",
			localStorage.getItem("hnuApproved") || "1");

		localStorage.setItem("hnuUnique", unique);
		localStorage.setItem("hnuIPAddress", ip_address);
		localStorage.setItem("hnuDeposit", deposit);
		localStorage.setItem("hnuApproved", approved);

		alert(url + "/conversions/notify/" + deposit +
			"/?offer=" + offer +
			"&payout=" + payout +
			"&ip=" + ip_address +
			"&unique=" + unique +
			"&approved=" + approved);

		return false;
	});
})(django.jQuery);
</script>

<li>
	{% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
	<a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}