{% extends 'lockers/generic/locker/lock_base.html' %}


{% block title %}Download {{ object.name }}{% endblock %}
{% block button_text %}Download {{ object.name }}{% endblock %}


{% block information %}
<h3 class="ui header">
	<i class="quote left icon"></i>
	<div class="content">
		Name
		<p class="sub header">{{ object.file_name }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="disk outline icon"></i>
	<div class="content">
		Size
		<p class="sub header">{{ object.file_size|filesizeformat }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="calendar icon"></i>
	<div class="content">
		Created on
		<p class="sub header">{{ object.datetime }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="download icon"></i>
	<div class="content">
		Downloads
		<div class="sub header">{{ object.earnings.conversions }}</div>
	</div>
</h3>
{% endblock %}