{% extends 'cp.html' %}
{% load static %}
{% load currency %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui two column stackable grid">
		<div class="stretched row">
			<div class="column">
				<div class="ui two column grid">
					<div class="column">
						{% include 'cp/dashboard/sections/earnings.html' %}
					</div>

					<div class="column">
						{% include 'cp/dashboard/sections/referral.html' %}
					</div>
				</div>
			</div>

			<div class="column">
				{% include 'cp/common/line_chart.html' with data_url='/dashboard/chart/line.json' %}
			</div>
		</div>

		{% with cut_amount=user.profile.party.cut_amount %}
			<div class="ten wide column">
				<div class="ui one column grid">
					{% if leads|length > 0 %}
						<div class="column">
							{% include 'cp/dashboard/sections/leads.html' %}
						</div>
					{% endif %}

					<div class="column">
						{% include 'cp/dashboard/sections/offers.html' %}
					</div>
				</div>
			</div>
		{% endwith %}

		<div class="six wide column">
			{% include 'cp/common/map_chart.html' with data_url='/dashboard/chart/map.json' %}
		</div>
	</div>
</div>
{% endblock %}
