{% extends 'cp.html' %}
{% load static %}

{% block title %}Staff{% endblock %}

{% block tab %}staff{% endblock %}

{% block head0 %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/staff.css' %}" />
{% endblock %}

{% block content %}
{# var div = document.getElementById('header');div.parentNode.removeChild(div); #}
<div class="wrapper">
	<div class="ui top attached tabular menu">
		<a class="item" data-tab="server">Server</a>
		<a class="item active" data-tab="admin">Admin</a>
	</div>

	<div class="ui bottom attached tab segment" data-tab="server">
		<div class="ui two column stackable grid">
			<div class="column">
				<h2>Information</h2>
				<table class="ui definition table">
					<tbody>
						<tr>
							<td>CPU</td>
							<td>{{ data.cpu }}% ({{ data.cpu_count }} cores)</td>
						</tr>
						<tr>
							<td>Memory</td>
							<td>{{ data.memory.used|filesizeformat }}/{{ data.memory.total|filesizeformat }}</td>
						</tr>
						<tr>
							<td>Page</td>
							<td>{{ data.page.used|filesizeformat }}/{{ data.page.total|filesizeformat }}</td>
						</tr>
						<tr>
							<td>Disk</td>
							<td>{{ data.disk.used|filesizeformat }}/{{ data.disk.total|filesizeformat }}</td>
						</tr>
						<tr>
							<td>Uptime</td>
							<td>{{ data.uptime }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="column">
				<h2>Statistics</h2>
				<table class="ui definition table">
					<tbody>
						<tr>
							<td>System</td>
							<td>{{ data.uname.system }}</td>
						</tr>
						<tr>
							<td>Node</td>
							<td>{{ data.uname.node }}</td>
						</tr>
						<tr>
							<td>Release</td>
							<td>{{ data.uname.release }}</td>
						</tr>
						<tr>
							<td>Version</td>
							<td>{{ data.uname.version }}</td>
						</tr>
						<tr>
							<td>Machine</td>
							<td>{{ data.uname.machine }}</td>
						</tr>
						<tr>
							<td>Processor</td>
							<td>{{ data.uname.processor }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="ui bottom attached tab frame segment active" data-tab="admin">
		<div class="ui secondary admin menu">
			<a target="staffFrame" class="refresh item">
				<i class="refresh icon"></i>
			</a>
			<a href="/admin/auth/user/" target="staffFrame" class="users item">
				<i class="user icon"></i>
				Users
			</a>
			<a href="/admin/user/party/" target="staffFrame" class="item">
				<i class="users icon"></i>
				Parties
			</a>
			<a href="/admin/offers/offer/" target="staffFrame" class="item">
				<i class="tags icon"></i>
				Offers
			</a>
			<a href="/admin/widgets/widget/" target="staffFrame" class="item">
				<i class="file image outline icon"></i>
				Widgets
			</a>
			<a href="/admin/files/file/" target="staffFrame" class="item">
				<i class="file icon"></i>
				Files
			</a>
			<a href="/admin/links/link/" target="staffFrame" class="item">
				<i class="linkify icon"></i>
				Links
			</a>
			<a href="/admin/lists/list/" target="staffFrame" class="item">
				<i class="list layout icon"></i>
				Lists
			</a>
			<a href="/admin/leads/lead/" target="staffFrame" class="item">
				<i class="lightning icon"></i>
				Leads
			</a>
			<a href="/admin/leads/token/" target="staffFrame" class="item">
				<i class="crosshairs icon"></i>
				Tokens
			</a>
			<a href="/admin/billing/invoice/" target="staffFrame" class="item">
				<i class="payment icon"></i>
				Invoices
			</a>
			<a class="other item">
				<i class="cube icon"></i>
				Other
			</a>
		</div>

		<div class="frame container">
			<iframe name="staffFrame" id="staffFrame" onLoad="iFrameOnLoad()"></iframe>
		</div>
	</div>
</div>

<script>
var iframe = document.getElementById("staffFrame");

$.urlParam = function(name){
	var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
	return results == null ? null : results[1] || 0;
}

var iFrameOnLoad = function() {
	var div;
	var segment = $(".frame.container");
	var breadcrumbs = iframe.contentDocument.querySelector(".breadcrumbs");

	var deleteNode = function(selector) {
		div = iframe.contentDocument.querySelector(selector);
		div.parentNode.removeChild(div);
	}

	deleteNode("#header");
	deleteNode(".breadcrumbs>a:nth-child(1)");
	deleteNode(".breadcrumbs>a:nth-child(1)");

	breadcrumbs.innerHTML = breadcrumbs.innerHTML.substr(7);
	segment.height(0);
	segment.height(iframe.contentDocument.querySelector("body").scrollHeight);

	var h1 = iframe.contentDocument.querySelector("h1");
	if(h1.innerText == "Change user") {
		var u = iframe.contentDocument.querySelector("#id_profile-0-user").value;
		h1.innerHTML = h1.innerHTML +
			" <a href='/admin/leads/lead/?user=" + u + "'>[Leads]</a>" +
			" <a href='/admin/widgets/widget/?user=" + u + "'>[Widgets]</a>" +
			" <a href='/admin/files/file/?user=" + u + "'>[Files]</a>" +
			" <a href='/admin/links/link/?user=" + u + "'>[Links]</a>" +
			" <a href='/admin/lists/list/?user=" + u + "'>[Lists]</a>" +
			" <a href='/admin/billing/invoice/?user=" + u + "'>[Invoices]</a>";
	}
}

$(".admin.menu>.item").click(function() {
	$(".admin.menu>.item").removeClass("active");
	$(this).addClass("active");
});

$(".refresh.item").click(function() {
	iframe.contentWindow.location.reload(true);
});

iframe.src = $.urlParam("url") || "/admin/auth/user/";

$(!$.urlParam("url") ? ".users.item" : ".other.item").addClass("active");
$(".tabular>.item").tab();
</script>
{% endblock %}