{% extends "cp.html" %}
{% load static %}

{% block title %}Staff{% endblock %}

{% block tab %}staff{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui two column grid stackable no margin">
		<div class="column">
			<div class="box">
				<div class="title">
					<i class="user icon"></i>
					Users
				</div>
				<div class="padded content">
					<div class="ui bulleted list">
						<div class="item">
							<strong>Auth</strong>
							<div class="list">
								<a href="{% url "admin:index" %}auth/user/" target="_blank" class="item">User</a>
								<a href="{% url "admin:index" %}user/party/" target="_blank" class="item">Party</a>
							</div>
						</div>
						<div class="item">
							<strong>Axes</strong>
							<div class="list">
								<a href="{% url "admin:index" %}axes/accessattempt/" target="_blank" class="item">Attempts</a>
								<a href="{% url "admin:index" %}axes/accesslog/" target="_blank" class="item">Logs</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="column">
			<div class="box">
				<div class="title">
					<i class="ticket icon"></i>
					Support
				</div>
				<div class="padded content">
					<div class="ui bulleted list">
						<div class="item">
							<strong>Support</strong>
							<div class="list">
								<a href="{% url "admin:index" %}support/abuse_report/" target="_blank" class="item">Abuse Reports</a>
								<a href="{% url "admin:index" %}support/contact_message/" target="_blank" class="item">Contact Messages</a>
							</div>
						</div>
						<div class="item">
							<strong>Tickets (Admin)</strong>
							<div class="list">
								<a href="{% url "admin:index" %}tickets/thread/" target="_blank" class="item">Threads</a>
								<a href="{% url "admin:index" %}tickets/post/" target="_blank" class="item">Posts</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="box">
				<div class="title">
					<i class="lock icon"></i>
					Lockers
				</div>
				<div class="padded content">
					<div class="ui bulleted list">
						<div class="item">
							<strong>Lockers</strong>
							<div class="list">
								<a href="{% url "admin:index" %}files/file/" target="_blank" class="item">Files</a>
								<a href="{% url "admin:index" %}lists/list/" target="_blank" class="item">Lists</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="column">
			<div class="box">
				<div class="title">
					<i class="tags icon"></i>
					Leads and Offers
				</div>
				<div class="padded content">
					<div class="ui bulleted list">
						<div class="item">
							<strong>Leads and Offers</strong>
							<div class="list">
								<a href="{% url "admin:index" %}leads/lead/" target="_blank" class="item">Leads</a>
								<a href="{% url "admin:index" %}leads/token/" target="_blank" class="item">Tokens</a>
								<a href="{% url "admin:index" %}offers/offer/" target="_blank" class="item">Offers</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}