setuptools
cython
uwsgi
psycopg2
pillow
pysocks
geoip2
psutil

git+https://github.com/thetarkus/anora
git+git://github.com/gevent/gevent.git#egg=gevent

django
django-recaptcha
django-storages
django-axes
django-celery
django-countries
django-tables2
django-gravatar2
django-debug-toolbar
django-redis
django-websocket-redis