django
django-recaptcha
django-storages
django-axes
django-celery
django-countries
django-tables2
django-gravatar2
python-memcached
pillow
filemagic
pysocks
geoip2
gunicorn
python-magic
mysqlclient
psutil
git+https://github.com/thetarkus/anora
