{% load offers %}
{% load static %}

{% if not inline %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widget/icons/icon.min.css' %}" />
{% endif %}

{% if custom_css %}
	<link rel="stylesheet" type="text/css" href="{{ custom_css }}">
{% else %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widget/default.css' %}" />
{% endif %}

<div class="s wrap">
	<h3></h3>

	<div class="progress indicator"></div>

	{% for offer in offers %}
		<a target="_blank" href="{% url 'offers-redirect' offer.pk token %}">
			{{ offer.category|category_icon|safe }}
			{% if offer.priority %}
				<i class="gold star icon"></i>
			{% endif %}
			<div class="anchor">
				{{ offer.anchor }}
			</div>
		</a>
	{% endfor %}
</div>

{% if user.is_staff %}
	<div>
		<h3></h3>
		<input type="button" class="ui mini fluid toggle button" value="Staff" />
		<div class="staff postback" style="display:none">
			<h3></h3>
			<form action="{% url 'postback-send' %}" method="GET" target="_blank">
				{% csrf_token %}
				<input type="hidden" name="token" value="{{ token }}" />
				<select name="offer">
					{% for offer in offers %}
						<option value="{{ offer.pk }}">{{ offer.pk }}: {{ offer.anchor }} (${{ offer.payout }})</option>
					{% endfor %}
				</select>
				<select name="typeof">
					<option value="staff">Staff</option>
					<option value="paid">Paid</option>
					<option value="lead">Lead (Do not use)</option>
				</select>
				<input type="checkbox" name="approved" id="approved" checked />
				<label for="approved">Approved</label>
				<br/>
				<input type="submit" class="ui mini primary button" value="Send Postback" />
			</form>
		</div>

		<script type="text/javascript">
			document.querySelector(".toggle.button").onclick = function() {
				var e = document.querySelector(".staff.postback");
				e.style.display = (e.style.display == "none") ? "block" : "none";
			};
		</script>
	</div>
{% endif %}

<script src="{% static 'js/locker/poll.js' %}"></script>
<script>_s_start("{% url 'poll-access' token %}");</script>
