{% load offers %}
{% load static %}

{% if not inline %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widget/icons/icon.min.css' %}" />
{% endif %}

{% if custom_css_url %}
	<link rel="stylesheet" type="text/css" href="{{ custom_css_url }}">
{% else %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widget/default.css' %}" />
{% endif %}

<div class="s wrap">
	<h3></h3>

	<div class="progress indicator"></div>

	{% for offer in offers %}
		<a target="_blank" href="{% url 'offers-redirect' offer.pk token %}">
			{{ offer.category|category_icon|safe }}
			{% if offer.priority %}
				<i class="gold star icon"></i>
			{% endif %}
			<div class="anchor">
				{{ offer.anchor }}
			</div>
		</a>
	{% endfor %}
	<br/>
	<div class="s pagination container">
		<div class="ui menu pagination">

		</div>
	</div>
</div>

{% if user.is_staff %}
	<div>
		<h3></h3>
		<input type="button" class="ui mini fluid toggle button" value="Staff" />
		<div class="staff postback" style="display:none">
			<h3></h3>
			<form action="{% url 'postback-send' %}" method="GET" target="_blank">
				{% csrf_token %}
				<input type="hidden" name="token" value="{{ token }}" />

				<div>
					<select class="ui dropdown offers" name="offer">
						{% for offer in offers %}
							<option value="{{ offer.pk }}">
								{{ offer.pk }}:
								{{ offer.anchor }}
								[${{ offer.earnings_per_click }}]
								(${{ offer.payout }})
								</option>
						{% endfor %}
					</select>

					<select class="ui dropdown" name="typeof">
						<option value="staff">Staff</option>
						<option value="paid">Paid</option>
						<option value="lead">Lead (Do not use)</option>
					</select>
				</div>

				<div>
					<input class="ui checkbox" type="checkbox" name="approved" id="approved" checked />
					<label for="approved">Approved</label>
				</div>

				<input type="submit" class="ui mini primary button" value="Send Postback" />
				<a href="#" class="ui mini offer button">Offer Page</a>
			</form>
		</div>

		<script type="text/javascript">
			document.querySelector(".toggle.button").onclick = function() {
				var e = document.querySelector(".staff.postback");
				e.style.display = (e.style.display == "none") ? "block" : "none";
			};

			document.querySelector(".offer.button").onclick = function() {
				var e = document.querySelector("[name='offer']");
				window.open(
					"{% url 'staff' %}?url=/admin/offers/offer/" + e.options[e.selectedIndex].value,
					"_blank"
				);
			};
		</script>
	</div>
{% endif %}

<script src="{% static 'js/locker/locker.js' %}"></script>
<script>_s_set("{% url 'poll-access' token %}");</script>