{% load billing %}
{% load cache %}

<div class="item">
	{{ choice|payment_icon|safe }}
	<div class="content">
		<div class="header">Payment Method</div>
		{% if choice == 'NONE' or not choice %}
			<em>None</em>, set up your payment choice now to receive payments.
		{% else %}
			{{ user.billing.get_choice_display }}
		{% endif %}
	</div>
</div>

<div class="item">
	<i class="calendar outline icon"></i>
	<div class="content">
		<div class="header">Payment Frequency</div>
		<p>
			Monthly <em>(Net 15)</em>
		</p>
	</div>
</div>

{% if choice == 'PAYPAL' %}
	{% include 'billing/details/paypal.html' %}

{% elif choice == 'CHECK' %}
	{% include 'billing/details/check.html' %}

{% elif choice == 'WIRE' %}
	{% include 'billing/details/wire.html' %}

{% elif choice == 'DIRECT' %}
	{% include 'billing/details/direct.html' %}
{% endif %}
