{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>{% block titlefull %}{% block title %}Download {{ obj.name }}{% endblock %} | {% site_name %}{% endblock %}</title>

	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,700">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
</head>

<body>
	<br/>
	<div class="ui container grid">
		<div class="column">
			<div class="ui segment">
				{% block content %}
					<h1>Click the button below to start your Download</h1>
					<a class="ui massive primary fluid button" href="{% url 'files-download' obj.code %}">
						Download {{ obj.name }}
					</a>
				{% endblock %}
			</div>
		</div>
	</div>
</body>

<script src="{% static 'js/locker/unlock.js' %}"></script>
</html>