{% extends 'lockers/generic/manage/base_manage.html' %}
{% load static %}
{% load semanticui %}


{% block breadcrumbs_active %}
<a href="{% url model_name|add:'s:detail' object.code %}" class="section">{{ object.name }}</a>
<i class="right chevron icon divider"></i>
<a href="{% url model_name|add:'s:update' object.code %}" class="active section">Edit</a>
{% endblock %}


{% block content %}
<div class="ui grid stackable">

	<div class="ten wide column">
		<form class="box" method="POST">
		{% block form %}
			{% block form_header %}
			<div class="ui top attached inverted red menu">
				<div class="icon header item"><i class="edit icon"></i></div>
				<div class="header item">Edit {{ model_name|title }}</div>
			</div>
			{% endblock form_header %}

			{% csrf_token %}
			{% block form_content %}
			<div class="ui bottom attached form segment">
				{% render_form form %}
			</div>
			{% endblock form_content %}

			{% block form_submit %}
			<div class="ui bottom attached fluid buttons">
				<button class="ui left labeled red submit icon button">
					<i class="checkmark icon"></i>
					Save
				</button>
				<a href="{% url model_name|add:'s:detail' object.code %}" class="ui button" style="max-width:20rem">
					Cancel
				</a>
			</div>
			{% endblock form_submit %}
		{% endblock form %}
		</form>
	</div>

	<div class="six wide column">
		<div class="box">
		{% block information %}
			{% block information_header %}
			<div class="ui top attached inverted red menu">
				<div class="icon header item"><i class="info icon"></i></div>
				<div class="header item">Information</div>
			</div>
			{% endblock %}

			{% block information_content %}
			<div class="ui bottom attached segment">
				{% include model_name|add:'s/manage/information.txt' %}
			</div>
			{% endblock %}

		{% endblock information %}
		</div>
	</div>

</div>
{% endblock %}


{% block footerjs %}
<script src="{% static model_name|add:'s/'|add:model_name|add:'_update.js' %}"></script>
{% endblock %}
