[Unit]
Description=Celery workers for Viking.
After=network.target

[Service]
Type=forking
User=viking
Group=viking
WorkingDirectory=/home/viking/project/
ExecStart=/home/viking/scripts/viking celery
Restart=always

[Install]
WantedBy=multi-user.target
