{% extends 'base_panel.html' %}
{% load static molds %}

{% block title %}Offers{% endblock %}

{% block tab %}offers{% endblock %}


{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Control Panel</div>
	<i class="right chevron icon divider"></i>
	{% if query|length > 0 %}
		<a href="{% url 'offers:list' %}" class="section">Offers</a>
		<i class="right chevron icon divider"></i>
		<span class="active section">Search</span>
	{% else %}
		<a href="{% url 'offers:list' %}" class="active section">Offers</a>
	{% endif %}
</div>
{% endblock %}


{% block content %}
<div class="ui one column grid stackable">
	<div class="column">

		<div class="ui priority popup" style="min-width:800px">
			{% include "offers/offer_priority.html" %}
		</div>

		<div class="box">

			<div class="ui top attached inverted red menu">
				<div class="icon header item"><i class="tags icon"></i></div>
				<div class="header item">Offers{% if query|length > 0 %}&nbsp;<small>[Filter: "{{ query }}"]{% endif %}</small></div>

				<div class="right menu">
					<form class="inverted item" method="GET">
						<div class="ui inverted transparent icon input">
							<input name="q" type="text" {% if query|length > 0 %}value="{{ query }}" {% endif %}placeholder="Search Offers...">
							<i class="search icon"></i>
						</div>
					</form>

					{% if user.is_superuser %}
					<a class="ui inverted sync item">
						<i class="refresh icon"></i> Sync
					</a>
					{% endif %}

					<a class="inverted priority item">
						<i class="options icon"></i> Options
					</a>
				</div>

			</div>
			{% render_table table %}

		</div>
	</div>
</div>

{% if user.is_superuser %}
<script>
	$(".sync.item").api({
		url: "{% url 'offers:sync' %}",
		stateContext: ".sync.item .icon",
		onSuccess: function(response) {
			console.log(response.data);
			$(".sync.item").state("flash text", response.message);
		},
	});
</script>
{% endif %}
{% endblock %}


{% block headstyle %}
<link rel="stylesheet" href="{% static 'offers/offer_list.css' %}">
{% endblock %}


{% block footerjs %}
<script src="{% static 'offers/offer_list.js' %}"></script>
{% endblock %}