{% extends 'base_panel.html' %}
{% load static %}
{% load molds %}

{% block title %}Offers{% endblock %}

{% block tab %}offers{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Control Panel</div>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'offers:list' %}" class="section">Offers</a>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'offers-options' %}" class="active section">Options</a>
</div>
{% endblock %}

{% block content %}
<div class="ui two column grid stackable">

	<div class="column">
		{% table_box prioritized 'Prioritized Offers' 'checkmark' %}
	</div>

	<div class="column">
		{% table_box blocked 'Blocked Offers' 'ban' %}
	</div>

</div>

<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/apps/offers/options.js' %}"></script>
{% endblock %}
