{% load static %}
{% load share %}

{% block content %}
<div class="widget v-mode">
	{% if unlocked %}
		<a href="{{ obj.get_unlock_url }}" class="center continue">Click to Continue</a>
	{% else %}
		<p class="message">{{ message|safe }}</p>
		<a href="{{ url }}" class="url ignore" onclick="return false;">{{ url }}</a>
		<div class="share">
			<a class="twitter button" href="{% twitter url 'Help me unlock this!' %}" target="_blank"><i class="twitter icon"></i></a>
			<a class="facebook button" href="{% facebook url %}" target="_blank"><i class="facebook icon"></i></a>
			<a class="google button" href="{% googleplus url %}" target="_blank"><i class="google plus icon"></i></a>
			<a class="email button" href="{% email 'Need your help to unlock this' 'Help me unlock this, visit this link... '|add:url %}" target="_blank"><i class="at icon"></i></a>
		</div>
  {% endif %}
</div>

<script>var obj=["{% websocket_url %}/lockers/","{{ obj.get_type }}","{{ obj.code }}"];var immediateOpen=true;</script>
<script src="{% static 'js/socket.js' %}"></script>
<script src="{% static 'js/locker/app.js' %}"></script>
{% endblock %}