{% load offers %}
{% load static %}

{% block content %}
<menu type="context" id="menu">
	<menuitem label="Report This Locker" onclick="window.location='{% url 'report' %}?content='+window.location;"></menuitem>
</menu>

<!-- {{ ip_address }},{{ country_code }} -->
{% spaceless %}
<div class="widget" contextmenu="menu">
	<div class="header"></div>
	<div class="indicator"></div>

	{% if unlocked %}
		<a href="{{ obj.get_unlock_url }}" class="url message continue">Click to Continue</a>
	{% else %}
		<div class="items">
		{% for offer in offers %}
			<a href="{{ offer|redirect_url:obj }}" target="_blank" class="item" data-text="{{ offer.requirements }}">
				{{ offer.category|render_cat_icon }}
				<div class="anchor">{{ offer.anchor }}</div>
				{% if offer.priority %}
					{{ "item"|render_icon }}
				{% endif %}
			</a>
		{% empty %}
			<p>There are no offers that you can currently participate in.</p>
		{% endfor %}
		</div>
	{% endif %}
</div>
{% endspaceless %}

<script>var obj=["{% websocket_url %}/lockers/","{{ obj.get_type }}","{{ obj.code }}"];</script>
<script src="{% static 'js/socket.js' %}"></script>
<script src="{% static 'js/locker/app.js' %}"></script>
{% endblock %}