{% extends "frontend.html" %}
{% load static %}

{% block title %}Report Abuse{% endblock %}

{% block content %}
<div class="ui stackable grid page">
	<div class="ten wide column">
		<h2><i class="legal icon"></i> Report Abuse</h2>

		<form class="ui form segment" method="POST" enctype="multipart/form-data" action="{% url "report" %}">
			{% csrf_token %}

			<div class="ui error message"></div>

			<div class="field">
				<label>Name</label>
				<div class="ui input">
					{{ form.name }}
				</div>
			</div>

			<div class="field">
				<label>E-mail</label>
				<div class="ui input">
					{{ form.email }}
				</div>
			</div>

			<div class="field">
				<label>Complaint</label>
				<div class="ui input">
					<div class="ui selection fluid dropdown">
						<input type="hidden" name="complaint">
						<div class="default text">Please Choose</div>
						<i class="dropdown icon"></i>
						<div class="menu">
							{% for complaint in complaints %}
								<div class="item" data-value="{{ complaint.0 }}">{{ complaint.1 }}</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

			<div class="field">
				<label>Content Links, Reasons and Evidence</label>
				<div class="ui input">
					{{ form.text }}
				</div>
			</div>
			
			<div class="field">
				<label>Upload Images (4mb max)</label>
				<div>{{ form.image1 }}</div>
				<div>{{ form.image2 }}</div>
				<div>{{ form.image3 }}</div>
			</div>

			<div class="field">
				<div class="ui stackable grid">
					<div class="three wide column"></div>
					<div class="ten wide column">{{ form.captcha }}</div>
				</div>
			</div>

			<div class="field">
				<p>
					By submitting this Abuse Report, you declare under penalty of perjury that the report abuse is true and correct. You also state that you believe the reported content is illegal under U.S. or International law and/or violates our <a href="{% url "terms" %}">Terms and Conditions</a>.
				</p>
			</div>

			<div class="ui fluid primary submit button">Submit Abuse Report</div>
		</form>
	</div>

	<div class="six wide column">
		<h2><i class="remove icon"></i> Rule Breaking Content</h2>
		<div class="ui segment">
			<p>
				Using this form you can submit an abuse report to us. We dislike rule breaking/illegal content just as much as you do. We thoroughly investigate each report to make sure that an innocent user does not get punished. So, please do not submit false abuse reports.
			</p>

			<p>
				You can view what we deem as Rule Breaking Content in the <a target="_blank" href="{% url "terms" %}#general-prohibitions">General Prohibitions</a> section of our <a target="_blank" href="{% url "terms" %}#general-prohibitions">Terms and Conditions</a>.
			</p>
		</div>

		<h2><i class="info letter icon"></i> Instructions</h2>
		<div class="ui segment">
			<p>
				When creating an abuse report please make sure you:

				<ul>
					<li>
						<strong>Enter a valid e-mail,</strong> as we <em>will</em> e-mail you if action is taken towards the content you reported.<br/><br/>
					</li>

					<li>
						<strong>Provide a valid reason.</strong> We cannot punish a user or remove content if you put in just one or two words.<br/><br/>
					</li>

					<li>
						<strong>Provide evidence.</strong> A link to a website or a blog that might be taken down quickly does not help. An archived page or a screenshot is much more helpful.
					</li>

				</ul>
			</p>
		</div>
	</div>
</div>

<script src="{% static "js/forms/report.js" %}"></script>
{% endblock %}