{% extends 'lockers/bases/locker/locker.html' %}

{% block title %}Download {{ obj.name }}{% endblock %}
{% block button_text %}Download {{ obj.name }}{% endblock %}

{% block information %}
<h3 class="ui header">
	<i class="quote left icon"></i>
	<div class="content">
		Name
		<p class="sub header">{{ obj.file_name }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="disk outline icon"></i>
	<div class="content">
		Size
		<p class="sub header">{{ obj.file_size|filesizeformat }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="calendar icon"></i>
	<div class="content">
		Created on
		<p class="sub header">{{ obj.date_time }}</p>
	</div>
</h3>
<h3 class="ui header">
	<i class="download icon"></i>
	<div class="content">
		Downloads
		<div class="sub header">{{ obj.earnings.leads }}</div>
	</div>
</h3>
{% endblock %}