{% extends 'frontend.html' %}
{% load static %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="middle aligned ui grid page">

	<div class="column">
		<h2><i class="signup icon"></i> Sign up for {% site_name %}</h2>
	
		<form class="ui form segment" method="POST" action="{% url 'signup' %}">
			{% csrf_token %}
			{{ form.referrer }}

			<div class="ui error message"></div>

			<div class="two fields">
				<div class="required field">
					<label>First name</label>
					<div class="ui input">
						{{ form.first_name }}
					</div>
				</div>

				<div class="required field">
					<label>Last name</label>
					<div class="ui input">
						{{ form.last_name }}
					</div>
				</div>
			</div>

			<div class="two fields">
				<div class="required field">
					<label>Username</label>
					<div class="ui icon input">
						{{ form.username }}
						<i class="ui basic user icon"></i>
					</div>
				</div>

				<div class="required field">
					<label>E-mail</label>
					<div class="ui icon input">
						{{ form.email }}
						<i class="at icon"></i>
					</div>
				</div>
			</div>

			<div class="two fields">
				<div class="required field">
					<label>Password</label>
					<div class="ui icon input">
						{{ form.password }}
						<i class="lock icon"></i>
					</div>
				</div>

				<div class="required field">
					<label>Confirm</label>
					<div class="ui icon input">
						{{ form.confirm }}
						<i class="lock icon"></i>
					</div>
				</div>
			</div>

			<div class="required field">
				<label>Birthday <small>(This can't be changed later, so make sure it's correct!)</small></label>
				
				<div class="ui three column grid">
					<div class="column">
						<div class="ui fluid selection dropdown">
							{{ form.month }}
							<div class="text">Month</div>
							<i class="dropdown icon"></i>
							<div class="menu date-month"></div>
						</div>
					</div>

					<div class="column">
						<div class="ui fluid selection dropdown">
							{{ form.day }}
							<div class="text">Day</div>
							<i class="dropdown icon"></i>
							<div class="menu date-day"></div>
						</div>
					</div>

					<div class="column">
						<div class="ui fluid selection dropdown">
							{{ form.year }}
							<div class="text">Year</div>
							<i class="dropdown icon"></i>
							<div class="menu date-year"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="inline field center aligned">
				By creating a {% site_name %} account, you hereby agree to our <a target="_blank" href="{% url 'terms' %}">Terms and Conditions</a>.
			</div>

			<div class="ui stackable grid">
				<div class="ten wide column">
					<div class="ui fluid vertical labeled icon buttons">
						<div class="ui submit primary button">
							<i class="signup icon"></i>
							Sign up
						</div>
					</div>
				</div>

				<div class="six wide column">
					<a class="ui fluid animated fade button" href="{% url 'login' %}">
						<div class="visible content">Already have an account?</div>
						<div class="hidden content">
							Log in
						</div>
					</a>
				</div>
			</div>
		</form>

	</div>
</div>

<script src="{% static 'js/forms/sign-up.js' %}"></script>
{% endblock %}