{% extends 'cp.html' %}
{% load static %}
{% load currency %}
{% load cache %}

{% block title %}Offers{% endblock %}

{% block tab %}offers{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui two column stackable equal width grid">
		<div class="row">
			<div class="column">
				<div class="ui segment box">
					<div class="content no min height">
						<div class="ui statistics">
							<div class="statistic">
								<div class="label">
									Clicks
								</div>
								<div class="value">
									<i class="pointing up icon"></i> {{ offer.clicks }}
								</div>
							</div>
							<div class="statistic">
								<div class="label">
									Leads
								</div>
								<div class="value">
									<i class="lightning icon"></i> {{ offer.earnings.leads }}
								</div>
							</div>
							<div class="statistic">
								<div class="label">
									Payout
								</div>
								<div class="value">
									<i class="dollar icon"></i> {{ offer.payout|cut_percent:user.profile.party.cut_amount|currency }}
								</div>
							</div>
							<div class="statistic">
								<div class="label">
									Earnings Per Click
								</div>
								<div class="value">
									<i class="dollar icon"></i> {{ offer.earnings_per_click|currency }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui one column grid">
			<div class="column">
				<div class="ui segment box">
					<div class="title">
						<i class="tag icon"></i>
						Offer: <em>{{ offer.name }}</em>
					</div>
					<div class="content side padded">
						<div class="ui divided relaxed list">
							<div class="item">
								<i class="quote left icon"></i>
								<div class="content">
									<div class="header">Name</div>
									{{ offer.name }}
								</div>
							</div>
							<div class="item">
								<i class="ellipsis horizontal icon"></i>
								<div class="content">
									<div class="header">Anchor</div>
									{{ offer.anchor }}
								</div>
							</div>
							<div class="item">
								<i class="grid layout icon"></i>
								<div class="content">
									<div class="header">Category</div>
									{{ offer.category }}
								</div>
							</div>
							<div class="item">
								<i class="asterisk icon"></i>
								<div class="content">
									<div class="header">Requirements</div>
									{{ offer.requirements }}
								</div>
							</div>
							{% if offer.user_agent %}
								<div class="item">
									<i class="disk outline icon"></i>
									<div class="content">
										<div class="header">User Agent</div>
										{{ offer.user_agent }}
									</div>
								</div>
							{% endif %}
							<div class="item">
								<i class="world icon"></i>
								<div class="content">
									{% cache 7200 offer_countries offer.pk %}
										<div class="header">Countr{{ offer.country_count|pluralize:'y,ies' }}</div>

										{% if offer.country_count > 1 %}
											{% for code, country in offer.get_countries.items %}
												<i class="{{ code|lower }} flag hover" data-content="{{ country }}"></i>
											{% endfor %}
										{% else %}
											<i class="{{ offer.flag|lower }} flag"></i>{{ offer.get_country }}
										{% endif %}
									{% endcache %}
								</div>
							</div>
							<div class="item">
								<i class="calendar icon"></i>
								<div class="content">
									<div class="header">Added on</div>
									{{ offer.date }}
								</div>
							</div>

							{% if user.is_staff %}
								<div class="item">
									<i class="shield icon"></i>
									<div class="content">
										<div class="header">Staff</div>
										<a target="_blank" href="/admin/offers/offer/{{ offer.pk }}">Open in Admin</a>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			

			<div class="column">
				<div class="ui segment box">
					<div class="title">
						<i class="options icon"></i>
						Options
					</div>
					<div class="content padded no min height">
						<form action="{% url 'offers-manage' offer.pk %}" method="POST" class="ui form">
							{% csrf_token %}

							{% for field in form.priority %}
								<div class="field">
									<div class="ui toggle radio checkbox">
										{{ field.tag }}
										<label>{{ field.choice_label }}</label>
									</div>
								</div>
							{% endfor %}

							<div class="field">
								<input type="submit" class="ui fluid tiny basic button" value="Save" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="line chart icon"></i>
					Today
				</div>
				<div class="content">
					<div class="ui inverted active line dimmer">
						<div class="ui text loader"></div>
					</div>

					<div class="line chart container"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{% static 'js/pages/charts.js' %}"></script>
<script>$(window).resize(function() { draw_line_chart_leads($(".line.chart.container"), [{{ hour_chart|safe }}], true); });</script>
{% endblock %}
