{% extends 'cp.html' %}
{% load static %}
{% load pagination %}
{% load currency %}
{% load django_tables2 %}

{% block title %}Offers{% endblock %}

{% block tab %}offers{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Control Panel</div>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'offers' %}" class="active section">Offers</a>
</div>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui one column grid stackable">
		<div class="column">
			<div class="ui segment box">
				<div class="ui padded content no min height stackable grid">
					<form class="ui form ten wide column" method="GET">
						<div class="field">
							<div class="ui action input">
								<input name="query" type="text" {% if query|length > 0 %}value="{{ query }}" {% endif %}placeholder="Search...">
								<div class="ui submit basic button">
									<i class="search icon"></i>
								</div>
							</div>
						</div>
					</form>

					<div class="six wide column">
						<a href="{% url 'offers-priority' %}" class="ui fluid primary button">Personalize Locker Offers</a>
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="ui segment box">
				<div class="title">
					<i class="tags icon"></i>
					Offers
				</div>

				<div class="no min height content">
					{% render_table table 'cp/table.html' %}
				</div>

			</div>
		</div>
	</div>
</div>
<script>$(".submit").click(function() { $("form").submit(); });</script>
{% endblock %}
