{% spaceless %}

	{% if items.paginator.num_pages > 1 %}
		{% load pagination %}

		{% with num=items.paginator.page_range %}
			<div class="ui pagination fluid {% if not not_inverted %}inverted{% endif %} primary menu">

				{% if items.number > 4 %}
					<a href="{% url uri 1 %}?{{ get_params }}" class="item">1</a>
					<a class="disabled item">...</a>
				{% endif %}

				{% for page in num|paginate:items.number %}
					<a href="{% url uri page %}?{{ get_params }}" class="{% if page == items.number %}active {% endif %}item">
						{{ page }}
					</a>
				{% endfor %}


				{% if items.number < num|length|add:"-3" %}
					<a class="disabled item">...</a>
					<a href="{% url uri num|length %}?{{ get_params }}" class="item">{{ num|length }}</a>
				{% endif %}

				<div class="item float right">
					Page {{ items.number }} / {{ num|length }}
				</div>

			</div>

		{% endwith %}

	{% endif %}

{% endspaceless %}
