{% spaceless %}

	{% if items.paginator.num_pages > 1 %}

		{% with num=items.paginator.page_range %}
			<div class="ui pagination fluid inverted primary menu">

				{% if items.paginator.num_pages > 6 %}

					<div class="ui item selection dropdown button">
						<i class="ellipsis vertical icon"></i>
						<span class="text" style="color:white">Select Page</span>
						<div class="menu">
							{% for page in num %}
								<a class="{% if page == items.number %}active {% endif %}item" href="{% url uri page column order %}">
									{{ page }}
								</a>
							{% endfor %}
						</div>
					</div>

				{% else %}

					{% for page in num %}
						<a class="{% if page == items.number %}active {% endif %}item" href="{% url uri page column order %}">
							{{ page }}
						</a>
					{% endfor %}

				{% endif %}

				<div class="item float right">
					Page {{ items.number }} / {{ num|length }}
				</div>

			</div>

		{% endwith %}

	{% endif %}

{% endspaceless %}
