{% load static %}

<div class="ui segment box">
	<div class="title">
		<i class="map icon"></i>
		World Map
	</div>
	<div class="content padded">
		<div class="ui inverted active map dimmer">
			<div class="ui text loader"></div>
		</div>

		<div class="map chart container"></div>
	</div>
</div>

<script type="text/javascript">var dataUrl = "{{ data_url }}";</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{% static 'js/charts/map.js' %}"></script>
