<!DOCTYPE html>{% load static %}
<html>
<head>
	<title>Locked</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/components/icon.min.css">
	<link rel="stylesheet" href="{% static 'widgets/tooltip.min.css' %}" />
	<link rel="stylesheet" href="{% static 'widgets/themes/base.css' %}" />

	{% if object.theme and object.theme|lower != 'default' %}
	<link rel="stylesheet" href="{% static 'widgets/themes/'|add:object.theme|lower|add:'.css' %}" />
	{% endif %}

	{% if object.has_css_file %}
	<link rel="stylesheet" href="{{ object.css_file.url }}" />
	{% endif %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.11/iframeResizer.contentWindow.min.js"></script>
</head>
<body>
{% block content %}
	{% include 'lockers/widget.html' %}
{% endblock %}
</body>
</html>