{% extends 'base_panel.html' %}
{% load static %}
{% load molds %}
{% load semanticui %}


{% block title %}Conversions{% endblock %}


{% block tab %}conversions{% endblock %}


{% block breadcrumbs_active %}
<a href="{% url 'conversions' %}" class="active section">Conversions</a>
{% endblock %}


{% block content %}
<div class="ui stackable grid">
	{# Table #}
	<div class="twelve wide column">
		{% render_titlebar table_title table_icon %}
		{% render_table table %}
	</div>

	{# Menu #}
	<div class="four wide column">
		<div class="ui fluid vertical accordion menu">

			{% block menu_items %}{% endblock %}

			<div class="item">
				<div class="header">Date Range</div>
				<div class="menu">
					{% for name in date_range_form.range_names %}
					<a class="item{% if date_range_form.text == name|lower %} active{% endif %}" href="?r={{ name|lower }}">{{ name|title }}</a>
					{% endfor %}
				</div>
			</div>

			<div class="item">
				<a class="title header">
					<i class="dropdown icon"></i> Custom Date Range
				</a>
				<div class="content{% if date_range_form.text == 'custom' %} active{% endif %}">
					<form class="ui form" method="GET">
						{% render_form date_range_form %}
						<input class="ui fluid button" type="submit" value="Apply" />
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/comp/calendar.min.css' %}">
<script src="{% static 'js/comp/calendar.min.js' %}"></script>
<script src="{% static 'js/comp/tablesort.min.js' %}"></script>
<script>
	var fromDate = $("#id_f").parent().parent();
	var toDate = $("#id_t").parent().parent();

	fromDate.calendar({ type: "date", endCalendar: toDate });
	toDate.calendar({ type: "date", startCalendar: fromDate });

	$(".ui.accordion").accordion();
</script>
{% endblock %}