{% extends 'base-panel.html' %}
{% load static %}
{% load blueprints %}
{% load semanticui %}

{% block title %}Conversions{% endblock %}

{% block tab %}conversions{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Control Panel</div>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'conversions' %}" class="active section">Conversions</a>
</div>
{% endblock %}

{% block content %}
<div class="wrapper">
	<div class="ui stackable grid">
		{# Table #}
		<div class="twelve wide column">
			{% table table title table_icon %}
		</div>

		{# Menu #}
		<div class="four wide column">
			<div class="ui fluid vertical accordion menu">
	
				{% block menuitem %}{% endblock %}

				<div class="item">
					<div class="header">Date Range</div>
					<div class="menu">
						<a class="range-today item" href="?r=today">Today</a>
						<a class="range-week item" href="?r=week">Week</a>
						<a class="range-month item" href="?r=month">Month</a>
						<a class="range-year item" href="?r=year">Year</a>
					</div>
				</div>

				<div class="item">
					<a class="range-custom title header">
						<i class="dropdown icon"></i> Custom Date Range
					</a>
					<div class="range-custom content">
						<form class="ui form" method="GET">
							{% render_field_date form.f _noRequired=True placeholder="Select Date" %}
							{% render_field_date form.t _noRequired=True placeholder="Select Date" %}
							<input class="ui fluid button" type="submit" value="Apply" />
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/comp/calendar.min.css' %}">
<script src="{% static 'js/comp/calendar.min.js' %}"></script>
<script src="{% static 'js/comp/tablesort.min.js' %}"></script>
<script>
	$("#f").calendar({ type: "date", endCalendar: $("#t") });
	$("#t").calendar({ type: "date", startCalendar: $("#f") });

	$(".ui.accordion").accordion();
	{# $(".range-{{ page|default:'month' }}").addClass("active"); #}

	{% if date_range %}
	$(".range-{{ date_range }}").addClass("active");
	{% endif %}
</script>
{% block tablesort %}{% endblock %}
{% endblock %}
