{% extends 'conversions/overview.html' %}
{% block title %}Statistics{% endblock %}

{% block tab %}statistics{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Control Panel</div>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'statistics' %}" class="active section">Statistics</a>
</div>
{% endblock %}

{% block menuitem %}
<div class="item">
	<div class="header">Category</div>
	<div class="menu">
		<a class="page-offers item" href="{% url 'statistics-offers' %}">Offers</a>
		<a class="page-countries item" href="{% url 'statistics-countries' %}">Countries</a>
	</div>
</div>
{% endblock %}

{% block afterjs %}
<script>$("table").tablesort();$(".page-{{ page }}").addClass("active");</script>
{% endblock %}