{% extends 'base-panel.html' %}

{% load static %}
{% load cache %}
{% load country %}
{% load blueprints %}

{% block title %}Account Settings{% endblock %}

{% block tab %}account{% endblock %}

{% block breadcrumbs %}
<div class="ui breadcrumb">
	<div class="section">Support</div>
	<i class="right chevron icon divider"></i>
	<a href="{% url 'account-settings' %}" class="active section">Account Settings</a>
</div>
{% endblock %}

{% block headjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
{% endblock %}

{% block content %}
{% with DEFAULT_TEXT='<em>Not Specified</em>' %}
{% include 'user/account/modals.html' %}

<div class="wrapper">
	<div class="ui two column grid stackable">

		<div class="column">
			<div class="ui one column grid">
				{# Personal Details #}
				<div class="column">
					<div class="box">
						<div class="ui top attached inverted red menu">
							<div class="icon header item"><i class="write icon"></i></div>
							<div class="header item">Personal Details</div>

							<div class="right menu">
								<a class="inverted item edit personal"><i class="edit icon"></i> Edit</a>
							</div>
						</div>
						<div class="ui bottom attached segment">
							<div class="ui divided relaxed list">

								<div class="item">
									<i class="quote left icon"></i>
									<div class="content">
										<div class="header">Name</div>
										{% if not user.first_name and not user.last_name %}
											<em>Not Specified</em>
										{% else %}
											{{ user.first_name|default:DEFAULT_TEXT }} {{ user.last_name|default:DEFAULT_TEXT }}
										{% endif %}
									</div>
								</div>

								<div class="item">
									<i class="phone icon"></i>
									<div class="content">
										<div class="header">Phone Number</div>
										{{ user.profile.phone_number|default:DEFAULT_TEXT }}
									</div>
								</div>

								<div class="item">
									<i class="marker icon"></i>
									<div class="content">
										<div class="header">Address</div>
										{{ user.profile.address|default:DEFAULT_TEXT }}
									</div>
								</div>

								<div class="item">
									<i class="building icon"></i>
									<div class="content">
										<div class="header">City</div>
										{{ user.profile.city|default:DEFAULT_TEXT }}
									</div>
								</div>

								<div class="item">
									<i class="map icon"></i>
									<div class="content">
										<div class="header">State / Region</div>
										{{ user.profile.state|default:DEFAULT_TEXT }}
									</div>
								</div>

								<div class="item">
									<i class="world icon"></i>
									<div class="content">
										<div class="header">Country</div>
										{% if not user.profile.country %}
											{{ DEFAULT_TEXT }}
										{% else %}
											<i class="{{ user.profile.country|lower }} flag"></i><!--
											!-->{{ user.profile.country|country }}
										{% endif %}
									</div>
								</div>

								<div class="item">
									<i class="shipping icon"></i>
									<div class="content">
										<div class="header">Postal Code</div>
										{{ user.profile.postal_code|default:DEFAULT_TEXT }}
									</div>
								</div>

								<div class="item">
									<i class="birthday icon"></i>
									<div class="content">
										<div class="header">Birthday</div>
										{{ user.profile.birthday }}
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				{# Account Details #}
				<div class="column">
					<div class="box">
						<div class="ui top attached inverted red menu">
							<div class="icon header item"><i class="setting icon"></i></div>
							<div class="header item">Account Details</div>

							<div class="right menu">
								<a class="inverted item edit account"><i class="edit icon"></i> Edit</a>
							</div>
						</div>
						<div class="ui bottom attached segment">
							<div class="ui divided relaxed list">

								<div class="item">
									<i class="cubes icon"></i>
									<div class="content">
										<div class="header">Company</div>
										{{ user.profile.company|default:DEFAULT_TEXT }}
									</div>
								</div>

								<div class="item">
									<i class="linkify icon"></i>
									<div class="content">
										<div class="header">Website</div>
										{% if user.profile.website %}
											<a href="{{ user.profile.website }}">{{ user.profile.website }}</a>
										{% else %}
											{{ DEFAULT_TEXT }}
										{% endif %}
									</div>
								</div>

								<div class="item">
									<i class="at icon"></i>
									<div class="content">
										<div class="header">E-mail Address</div>
										{{ user.email|default:DEFAULT_TEXT }}
									</div>
								</div>

								<div class="item">
									<i class="credit card icon"></i>
									<div class="content">
										<div class="header">Billing Details</div>
										<a href="{% url 'billing' %}">Edit Billing Information</a>
									</div>
								</div>

								<div class="item">
									<i class="lock icon"></i>
									<div class="content">
										<div class="header">Password</div>
										<a href="#">Change Password</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="ui one column grid">
				{# Referral Guide #}
				<div class="column">
					<div class="box">
						<div class="ui top attached inverted red menu">
							<div class="icon header item"><i class="info icon"></i></div>
							<div class="header item">Referral Guide</div>
						</div>
						<div class="ui bottom attached segment">
							<div class="ui form">
								<div class="field">
									<label>Your Referral URL</label>
									<div class="ui action input">
										<button class="ui primary left labeled icon copy button" data-clipboard-target="#referral">
											<i class="copy icon"></i> Copy
										</button>
										<input id="referral" type="text" value="{{ url }}" readonly />
										{# site_name as site_name #}
										{% with txt='Register on '|add:'Varkus'|add:' with my Referral Link!' %}
											<a href="https://twitter.com/intent/tweet?text={{ txt }}&url={{ url }}" target="popup" class="ui twitter icon button">
												<i class="twitter icon"></i>
											</a>
											<a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" target="popup" class="ui facebook icon button">
												<i class="facebook icon"></i>
											</a>
											<a href="https://plus.google.com/share?url={{ url }}" target="popup" class="ui google plus icon button">
												<i class="google plus icon"></i>
											</a>
											<a href="http://vk.com/share.php?url={{ url }}" target="popup" class="ui vk icon button">
												<i class="vk icon"></i>
											</a>
										{% endwith %}
									</div>
								</div>
							</div>

							<div class="ui header">Referrals</div>
							<p>
								Referrals are a great way to earn some extra profit with little to no work.
								All you have to do is mention {% site_name %} to a friend, family member,
								or even acquaintance and have them sign up with your referral URL.
							</p>

							<div class="ui header">Benefits</div>
							<p>
								There are more pros than cons to referring someone; in fact, there are
								no cons at all. You earn <b>{{ percent }}%</b> of your referral's
								earnings for each and every conversion that they receive.
							</p>
						</div>
					</div>
				</div>

				{# Referral Table #}
				<div class="column">
					{% table referrals 'Referrals' 'users' %}
				</div>
			</div>
		</div>

	</div>
</div>

<script src="{% static 'js/apps/user/settings.js' %}"></script>
{% endwith %}
{% endblock %}
