{% extends 'cp.html' %}
{% load static %}
{% load currency %}

{% block title %}File Locker{% endblock %}

{% block tab %}files{% endblock %}

{% block content %}
{% include 'lockers/files/manage/sections/modals.html' %}

<div class="wrapper">
	<div class="ui two column grid stackable">
		<div class="column">
			<div class="ui one column grid">
				<div class="column">
					{% include 'lockers/files/manage/sections/info.html' %}
				</div>
				<div class="column">
					<div class="ui two column grid">
						<div class="column">
							{% include 'lockers/common/earnings.html' %}
						</div>

						<div class="column">
							{% include 'lockers/common/locker_info.html' %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="ui one column grid">
				<div class="column">
					{% include 'cp/common/line_chart.html' %}
				</div>
				<div class="column">
					{% include 'cp/common/leads.html' %}
				</div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'js/forms/files-manage.js' %}"></script>
{% endblock %}